
/****** Object:  Table [dbo].[app_users]    Script Date: 14/04/2026 2:46:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[app_users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[password] [nvarchar](512) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[app_users] ON 
GO
INSERT [dbo].[app_users] ([id], [username], [password], [role], [is_active], [created_at]) VALUES (1, N'SuperAdmin', N'scrypt:32768:8:1$LeivRkFfnx024qLB$2214834724c6362d410f0781a2dae0a236828dbb6010cbd99059511b0107cddd547d072c057c74501cdabb010ff2b78656011b233aed11139a873a28a09c2fdb', N'superadmin', 1, CAST(N'2026-04-11T21:28:36.787' AS DateTime))
GO
INSERT [dbo].[app_users] ([id], [username], [password], [role], [is_active], [created_at]) VALUES (2, N'Harish', N'scrypt:32768:8:1$wvptq337UdfqPqU8$72d2983a2cf2cc3917fe77bcfa441909655817edfd7193cb33ccc6d754acf09c6371c9b5e35569aec805a858e5fe0f9975128ec49ca62a0982b47448210e163f', N'user', 1, CAST(N'2026-04-11T22:01:55.123' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[app_users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_app_users_username]    Script Date: 14/04/2026 2:46:50 PM ******/
ALTER TABLE [dbo].[app_users] ADD  CONSTRAINT [UQ_app_users_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[app_users] ADD  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[app_users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[app_users] ADD  DEFAULT (getdate()) FOR [created_at]
GO

/****** Object:  View [dbo].[VW_ADV_SALES_BASE]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================================
-- VW_ADV_SALES_BASE
-- UNION: Normal sales (SALES_HDR/DTL) + Refunds (SALES_RETURN_HDR/DTL)
--
-- Financial logic:
--   SALES  → SALES_VALUE = (AMOUNT - DISC)  positive
--             REFUND_VALUE = 0
--             NET_VALUE    = (AMOUNT - DISC)  positive
--
--   REFUND → SALES_VALUE  = 0
--             REFUND_VALUE = AMOUNT           positive (report positive)
--             NET_VALUE    = -AMOUNT          negative (deducted from net)
--
-- Performance: all masters resolved via LEFT JOIN, zero subqueries.
-- ================================================================
CREATE VIEW [dbo].[VW_ADV_SALES_BASE] AS

-- ──────────────────── SALES (Normal Bills) ────────────────────────
SELECT
    H.SH_DEPT_CODE                                   AS DEPT_CODE,
    CAST(H.BILL_NO AS VARCHAR(50))                   AS TRANS_NO,
    CONVERT(DATE, H.BILL_DATE)                       AS TRANS_DATE,
    DATEPART(YEAR,  H.BILL_DATE)                     AS TRANS_YEAR,
    DATEPART(MONTH, H.BILL_DATE)                     AS TRANS_MONTH,
    DATENAME(MONTH, H.BILL_DATE)                     AS MONTH_NAME,
    'SALES'                                          AS TRAN_TYPE,
    H.CUSTOMER_CODE,
    ISNULL(H.CUSTOMER,         '')                   AS CUSTOMER_NAME,
    D.SERVICEORPRODUCTCODE                           AS ITEM_CODE,
    ISNULL(I.ITEM_NAME,        '')                   AS ITEM_NAME,
    ISNULL(CAT.Category_Code,  '')                   AS CATEGORY_CODE,
    ISNULL(CAT.Category_Desc,  'Uncategorized')      AS CATEGORY,
    ISNULL(BRD.Brand_Code,     '')                   AS BRAND_CODE,
    ISNULL(BRD.Brand_Name,     'Unbranded')          AS BRAND,
    ISNULL(S.SUPPLIER_NAME,    '')                   AS SUPPLIER_NAME,
    ISNULL(D.QTY,          0)                        AS QTY,
    ISNULL(D.RATE,         0)                        AS RATE,
    ISNULL(D.ITM_MRP,      0)                        AS MRP,
    ISNULL(D.AMOUNT,       0)                        AS AMOUNT,
    ISNULL(D.DISC_AMOUNT,  0)                        AS DISC_AMOUNT,
    -- ── Calculated financial columns ──
    ISNULL(D.AMOUNT, 0) - ISNULL(D.DISC_AMOUNT, 0)  AS SALES_VALUE,
    0.0                                              AS REFUND_VALUE,
    ISNULL(D.AMOUNT, 0) - ISNULL(D.DISC_AMOUNT, 0)  AS NET_VALUE,
    ISNULL(D.ORG_CP, 0)                              AS COST_PRICE,
    (ISNULL(D.AMOUNT, 0) - ISNULL(D.DISC_AMOUNT, 0))
        - ISNULL(D.ORG_CP, 0) * ISNULL(D.QTY, 0)   AS GROSS_PROFIT
FROM dbo.SALES_HDR H
INNER JOIN dbo.SALES_DTL    D   ON H.BILL_NO           = D.BILL_NO      AND H.SH_DEPT_CODE = D.SD_DEPT_CODE
LEFT  JOIN dbo.ITEM_MST     I   ON D.SERVICEORPRODUCTCODE = I.ITEM_CODE
LEFT  JOIN dbo.Category_Mst CAT ON I.CATEGORY_CODE     = CAT.Category_Code
LEFT  JOIN dbo.Brand_Master BRD ON I.BRAND_CODE        = BRD.Brand_Code
LEFT  JOIN dbo.SUPPLIER_MST S   ON I.SUPPLIER_CODE     = S.SUPPLIER_CODE
WHERE ISNULL(H.ISCANCELLED, 0) = 0
  AND D.SALES_ITEM_TYPE = 'P'

UNION ALL

-- ──────────────────── REFUNDS (Sales Returns) ────────────────────
-- SALES_RETURN_HDR has no direct CUSTOMER_CODE.
-- Customer is resolved via AGAINST_BILL_NO → SALES_HDR → CUSTOMER_MST
SELECT
    RH.SRH_DEPT_CODE                                 AS DEPT_CODE,
    CAST(RH.BILL_RTN_NO AS VARCHAR(50))              AS TRANS_NO,
    CONVERT(DATE, RH.BILL_RTN_DATE)                  AS TRANS_DATE,
    DATEPART(YEAR,  RH.BILL_RTN_DATE)                AS TRANS_YEAR,
    DATEPART(MONTH, RH.BILL_RTN_DATE)                AS TRANS_MONTH,
    DATENAME(MONTH, RH.BILL_RTN_DATE)                AS MONTH_NAME,
    'REFUND'                                         AS TRAN_TYPE,
    SH.CUSTOMER_CODE,                                -- from original SALES_HDR
    ISNULL(CM.CUSTOMER_NAME, '')                     AS CUSTOMER_NAME,
    RD.SERVICEORPRODUCTCODE                          AS ITEM_CODE,
    ISNULL(I.ITEM_NAME,       '')                    AS ITEM_NAME,
    ISNULL(CAT.Category_Code, '')                    AS CATEGORY_CODE,
    ISNULL(CAT.Category_Desc, 'Uncategorized')       AS CATEGORY,
    ISNULL(BRD.Brand_Code,    '')                    AS BRAND_CODE,
    ISNULL(BRD.Brand_Name,    'Unbranded')           AS BRAND,
    ISNULL(S.SUPPLIER_NAME,   '')                    AS SUPPLIER_NAME,
    ISNULL(RD.QTY,    0)                             AS QTY,
    ISNULL(RD.RATE,   0)                             AS RATE,
    ISNULL(I.MRP,     0)                             AS MRP,
    ISNULL(RD.AMOUNT, 0)                             AS AMOUNT,
    0.0                                              AS DISC_AMOUNT,
    -- Refund rows: SALES_VALUE=0, REFUND is positive, NET is negative
    0.0                                              AS SALES_VALUE,
    ISNULL(RD.AMOUNT, 0)                             AS REFUND_VALUE,
    -ISNULL(RD.AMOUNT, 0)                            AS NET_VALUE,
    ISNULL(I.CP, 0)                                  AS COST_PRICE,
    0.0                                              AS GROSS_PROFIT
FROM dbo.SALES_RETURN_HDR       RH
INNER JOIN dbo.SALES_RETURN_DTL RD  ON RH.BILL_RTN_NO         = RD.BILL_RTN_NO
                                   AND RH.SRH_DEPT_CODE        = RD.SRD_DEPT_CODE
-- Resolve customer: join original bill header via AGAINST_BILL_NO
LEFT  JOIN dbo.SALES_HDR        SH  ON RH.AGAINST_BILL_NO      = SH.BILL_NO
                                   AND RH.SRH_DEPT_CODE         = SH.SH_DEPT_CODE
LEFT  JOIN dbo.CUSTOMER_MST     CM  ON SH.CUSTOMER_CODE         = CM.CUSTOMER_CODE
LEFT  JOIN dbo.ITEM_MST         I   ON RD.SERVICEORPRODUCTCODE  = I.ITEM_CODE
LEFT  JOIN dbo.Category_Mst     CAT ON I.CATEGORY_CODE          = CAT.Category_Code
LEFT  JOIN dbo.Brand_Master     BRD ON I.BRAND_CODE             = BRD.Brand_Code
LEFT  JOIN dbo.SUPPLIER_MST     S   ON I.SUPPLIER_CODE          = S.SUPPLIER_CODE

GO
/****** Object:  View [dbo].[VW_ADV_SALES_SUMMARY]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================================
-- VW_ADV_SALES_SUMMARY
-- Daily × Category × Brand aggregation from VW_ADV_SALES_BASE.
-- Filters applied in Flask route — not in view.
-- ================================================================
CREATE VIEW [dbo].[VW_ADV_SALES_SUMMARY] AS
SELECT
    DEPT_CODE,
    TRANS_DATE                                         AS BILL_DATE,
    TRANS_YEAR                                         AS BILL_YEAR,
    TRANS_MONTH                                        AS BILL_MONTH,
    MONTH_NAME,
    CATEGORY_CODE,
    CATEGORY,
    BRAND_CODE,
    BRAND,
    SUPPLIER_NAME,
    -- Quantities
    SUM(CASE WHEN TRAN_TYPE = 'SALES'  THEN QTY ELSE 0 END)  AS SALES_QTY,
    SUM(CASE WHEN TRAN_TYPE = 'REFUND' THEN QTY ELSE 0 END)  AS REFUND_QTY,
    COUNT(CASE WHEN TRAN_TYPE = 'SALES' THEN 1 END)           AS BILL_COUNT,
    -- Values
    ROUND(SUM(SALES_VALUE),  2)                               AS TOTAL_SALES,
    ROUND(SUM(REFUND_VALUE), 2)                               AS TOTAL_REFUND,
    ROUND(SUM(NET_VALUE),    2)                               AS NET_SALES,
    ROUND(SUM(GROSS_PROFIT), 2)                               AS GROSS_PROFIT,
    -- Margin %
    CASE
        WHEN SUM(SALES_VALUE) > 0
        THEN ROUND(SUM(GROSS_PROFIT) / SUM(SALES_VALUE) * 100, 2)
        ELSE 0
    END                                                        AS MARGIN_PCT
FROM dbo.VW_ADV_SALES_BASE
GROUP BY
    DEPT_CODE, TRANS_DATE, TRANS_YEAR, TRANS_MONTH, MONTH_NAME,
    CATEGORY_CODE, CATEGORY, BRAND_CODE, BRAND, SUPPLIER_NAME

GO
/****** Object:  View [dbo].[VW_ADV_SALES_DETAIL]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================================
-- VW_ADV_SALES_DETAIL
-- Transaction-level detail — each sale or refund line item.
-- ================================================================
CREATE VIEW [dbo].[VW_ADV_SALES_DETAIL] AS
SELECT
    DEPT_CODE,
    TRANS_NO,
    TRANS_DATE,
    TRANS_YEAR,
    TRANS_MONTH,
    MONTH_NAME,
    TRAN_TYPE,
    CUSTOMER_CODE,
    CUSTOMER_NAME,
    ITEM_CODE,
    ITEM_NAME,
    CATEGORY_CODE,
    CATEGORY,
    BRAND_CODE,
    BRAND,
    SUPPLIER_NAME,
    QTY,
    RATE,
    MRP,
    AMOUNT,
    DISC_AMOUNT,
    SALES_VALUE,
    REFUND_VALUE,
    NET_VALUE,
    COST_PRICE,
    GROSS_PROFIT
FROM dbo.VW_ADV_SALES_BASE

GO
/****** Object:  View [dbo].[VW_ADV_PURCHASE_BASE]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================================
-- VW_ADV_PURCHASE_BASE
-- UNION: GRN (Purchases) + PRN (Purchase Returns)
--
-- Financial logic:
--   PURCHASE        → PURCHASE_VALUE = AMOUNT, RETURN_VALUE = 0, NET = +AMOUNT
--   PURCHASE_RETURN → PURCHASE_VALUE = 0,      RETURN_VALUE = AMOUNT, NET = -AMOUNT
-- ================================================================
CREATE VIEW [dbo].[VW_ADV_PURCHASE_BASE] AS

-- ──────────────────── GRN (Purchase / Goods Received) ────────────
SELECT
    H.GH_DEPT_CODE                                   AS DEPT_CODE,
    CAST(H.GRN_NO AS VARCHAR(50))                    AS TRANS_NO,
    CONVERT(DATE, H.GRN_DATE)                        AS TRANS_DATE,
    DATEPART(YEAR,  H.GRN_DATE)                      AS TRANS_YEAR,
    DATEPART(MONTH, H.GRN_DATE)                      AS TRANS_MONTH,
    DATENAME(MONTH, H.GRN_DATE)                      AS MONTH_NAME,
    'PURCHASE'                                       AS TRAN_TYPE,
    H.SUPPLIERCODE,
    ISNULL(S.SUPPLIER_NAME, '')                      AS SUPPLIER_NAME,
    D.ITEM_CODE,
    ISNULL(I.ITEM_NAME,        '')                   AS ITEM_NAME,
    ISNULL(CAT.Category_Code,  '')                   AS CATEGORY_CODE,
    ISNULL(CAT.Category_Desc,  'Uncategorized')      AS CATEGORY,
    ISNULL(BRD.Brand_Code,     '')                   AS BRAND_CODE,
    ISNULL(BRD.Brand_Name,     'Unbranded')          AS BRAND,
    ISNULL(D.REC_QTY,          0)                    AS QTY,
    ISNULL(D.BASIC_COST,       0)                    AS RATE,
    ISNULL(D.CP,               0)                    AS COST_PRICE,
    ISNULL(D.MRP,              0)                    AS MRP,
    ISNULL(D.AMOUNT,           0)                    AS AMOUNT,
    ISNULL(D.ITEM_DISC_AMOUNT, 0)
        + ISNULL(D.BILL_DISC_AMOUNT, 0)              AS DISC_AMOUNT,
    ISNULL(D.TAX_AMOUNT,       0)                    AS TAX_AMOUNT,
    -- Financial
    ISNULL(D.AMOUNT, 0)                              AS PURCHASE_VALUE,
    0.0                                              AS RETURN_VALUE,
    ISNULL(D.AMOUNT, 0)                              AS NET_VALUE
FROM dbo.GRN_HDR H
INNER JOIN dbo.GRN_DTL      D   ON H.GRN_NO         = D.GRN_NO        AND H.GH_DEPT_CODE = D.GD_DEPT_CODE
LEFT  JOIN dbo.SUPPLIER_MST S   ON H.SUPPLIERCODE   = S.SUPPLIER_CODE
LEFT  JOIN dbo.ITEM_MST     I   ON D.ITEM_CODE       = I.ITEM_CODE
LEFT  JOIN dbo.Category_Mst CAT ON I.CATEGORY_CODE  = CAT.Category_Code
LEFT  JOIN dbo.Brand_Master BRD ON I.BRAND_CODE     = BRD.Brand_Code
WHERE ISNULL(H.ISCANCELLED, 0) = 0

UNION ALL

-- ──────────────────── PRN (Purchase Returns) ─────────────────────
SELECT
    H.PH_DEPT_CODE                                   AS DEPT_CODE,
    CAST(H.PRN_NO AS VARCHAR(50))                    AS TRANS_NO,
    CONVERT(DATE, H.PRN_DATE)                        AS TRANS_DATE,
    DATEPART(YEAR,  H.PRN_DATE)                      AS TRANS_YEAR,
    DATEPART(MONTH, H.PRN_DATE)                      AS TRANS_MONTH,
    DATENAME(MONTH, H.PRN_DATE)                      AS MONTH_NAME,
    'PURCHASE_RETURN'                                AS TRAN_TYPE,
    H.SUPPLIERCODE,
    ISNULL(S.SUPPLIER_NAME, '')                      AS SUPPLIER_NAME,
    D.ITEM_CODE,
    ISNULL(I.ITEM_NAME,       '')                    AS ITEM_NAME,
    ISNULL(CAT.Category_Code, '')                    AS CATEGORY_CODE,
    ISNULL(CAT.Category_Desc, 'Uncategorized')       AS CATEGORY,
    ISNULL(BRD.Brand_Code,    '')                    AS BRAND_CODE,
    ISNULL(BRD.Brand_Name,    'Unbranded')           AS BRAND,
    ISNULL(D.RTN_QTY,  0)                            AS QTY,
    ISNULL(D.CP,       0)                            AS RATE,
    ISNULL(D.CP,       0)                            AS COST_PRICE,
    ISNULL(D.MRP,      0)                            AS MRP,
    ISNULL(D.AMOUNT,   0)                            AS AMOUNT,
    0.0                                              AS DISC_AMOUNT,
    ISNULL(D.TAX_AMOUNT, 0)                          AS TAX_AMOUNT,
    -- Financial
    0.0                                              AS PURCHASE_VALUE,
    ISNULL(D.AMOUNT, 0)                              AS RETURN_VALUE,
    -ISNULL(D.AMOUNT, 0)                             AS NET_VALUE
FROM dbo.PRN_HDR H
INNER JOIN dbo.PRN_DTL      D   ON H.PRN_NO         = D.PRN_NO        AND H.PH_DEPT_CODE = D.PD_DEPT_CODE
LEFT  JOIN dbo.SUPPLIER_MST S   ON H.SUPPLIERCODE   = S.SUPPLIER_CODE
LEFT  JOIN dbo.ITEM_MST     I   ON D.ITEM_CODE       = I.ITEM_CODE
LEFT  JOIN dbo.Category_Mst CAT ON I.CATEGORY_CODE  = CAT.Category_Code
LEFT  JOIN dbo.Brand_Master BRD ON I.BRAND_CODE     = BRD.Brand_Code

GO
/****** Object:  View [dbo].[VW_ADV_PURCHASE_SUMMARY]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================================
-- VW_ADV_PURCHASE_SUMMARY
-- Daily × Supplier × Category × Brand aggregation
-- ================================================================
CREATE VIEW [dbo].[VW_ADV_PURCHASE_SUMMARY] AS
SELECT
    DEPT_CODE,
    TRANS_DATE                                         AS GRN_DATE,
    TRANS_YEAR,
    TRANS_MONTH,
    MONTH_NAME,
    SUPPLIERCODE,
    SUPPLIER_NAME,
    CATEGORY_CODE,
    CATEGORY,
    BRAND_CODE,
    BRAND,
    -- Quantities
    SUM(CASE WHEN TRAN_TYPE = 'PURCHASE'        THEN QTY ELSE 0 END)  AS PURCHASE_QTY,
    SUM(CASE WHEN TRAN_TYPE = 'PURCHASE_RETURN' THEN QTY ELSE 0 END)  AS RETURN_QTY,
    COUNT(CASE WHEN TRAN_TYPE = 'PURCHASE' THEN 1 END)                 AS GRN_COUNT,
    -- Values
    ROUND(SUM(PURCHASE_VALUE), 2)                                      AS TOTAL_PURCHASE,
    ROUND(SUM(RETURN_VALUE),   2)                                      AS TOTAL_RETURN,
    ROUND(SUM(NET_VALUE),      2)                                      AS NET_PURCHASE,
    ROUND(SUM(TAX_AMOUNT),     2)                                      AS TOTAL_TAX
FROM dbo.VW_ADV_PURCHASE_BASE
GROUP BY
    DEPT_CODE, TRANS_DATE, TRANS_YEAR, TRANS_MONTH, MONTH_NAME,
    SUPPLIERCODE, SUPPLIER_NAME, CATEGORY_CODE, CATEGORY, BRAND_CODE, BRAND

GO
/****** Object:  View [dbo].[VW_ADV_PURCHASE_DETAIL]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================================
-- VW_ADV_PURCHASE_DETAIL
-- Transaction-level detail for purchase and returns
-- ================================================================
CREATE VIEW [dbo].[VW_ADV_PURCHASE_DETAIL] AS
SELECT
    DEPT_CODE,
    TRANS_NO,
    TRANS_DATE,
    TRANS_YEAR,
    TRANS_MONTH,
    MONTH_NAME,
    TRAN_TYPE,
    SUPPLIERCODE,
    SUPPLIER_NAME,
    ITEM_CODE,
    ITEM_NAME,
    CATEGORY_CODE,
    CATEGORY,
    BRAND_CODE,
    BRAND,
    QTY,
    RATE,
    COST_PRICE,
    MRP,
    AMOUNT,
    DISC_AMOUNT,
    TAX_AMOUNT,
    PURCHASE_VALUE,
    RETURN_VALUE,
    NET_VALUE
FROM dbo.VW_ADV_PURCHASE_BASE

GO
/****** Object:  View [dbo].[VW_ADV_STOCK_TRANSFER]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================================
-- VW_ADV_STOCK_TRANSFER
-- Enhanced stock transfer with STOCK_IN / STOCK_OUT separation.
--   MTN_TYPE='I' → Transfer In  → STOCK_IN  = QTY, STOCK_OUT = 0
--   MTN_TYPE='O' → Transfer Out → STOCK_OUT = QTY, STOCK_IN  = 0
-- ================================================================
CREATE VIEW [dbo].[VW_ADV_STOCK_TRANSFER] AS
SELECT
    H.MH_DEPT_CODE                                               AS DEPT_CODE,
    H.MTN_NO,
    CONVERT(DATE, H.MTN_DATE)                                    AS TRANS_DATE,
    DATEPART(YEAR,  H.MTN_DATE)                                  AS TRANS_YEAR,
    DATEPART(MONTH, H.MTN_DATE)                                  AS TRANS_MONTH,
    DATENAME(MONTH, H.MTN_DATE)                                  AS MONTH_NAME,
    H.MTN_TYPE,
    CASE H.MTN_TYPE
        WHEN 'I' THEN 'Transfer In'
        WHEN 'O' THEN 'Transfer Out'
        ELSE H.MTN_TYPE
    END                                                          AS TRANSFER_TYPE,
    ISNULL(H.FROM_LOCATION, '')                                  AS FROM_LOCATION,
    ISNULL(H.TO_LOCATION,   '')                                  AS TO_LOCATION,
    D.ITEM_CODE,
    ISNULL(I.ITEM_NAME,        '')                               AS ITEM_NAME,
    ISNULL(CAT.Category_Desc,  'Uncategorized')                  AS CATEGORY,
    ISNULL(BRD.Brand_Name,     '')                               AS BRAND,
    ISNULL(D.QTY,   0)                                           AS QTY,
    ISNULL(D.CP,    0)                                           AS COST_PRICE,
    ISNULL(D.SP,    0)                                           AS SALE_PRICE,
    ISNULL(D.MRP,   0)                                           AS MRP,
    ISNULL(D.AMOUNT,0)                                           AS AMOUNT,
    -- ── STOCK IN / OUT split ──────────────────────────────────────
    CASE WHEN H.MTN_TYPE = 'I' THEN ISNULL(D.QTY,    0) ELSE 0 END  AS STOCK_IN,
    CASE WHEN H.MTN_TYPE = 'O' THEN ISNULL(D.QTY,    0) ELSE 0 END  AS STOCK_OUT,
    CASE WHEN H.MTN_TYPE = 'I' THEN ISNULL(D.AMOUNT, 0) ELSE 0 END  AS VALUE_IN,
    CASE WHEN H.MTN_TYPE = 'O' THEN ISNULL(D.AMOUNT, 0) ELSE 0 END  AS VALUE_OUT,
    ISNULL(H.VEHICLE_NO,  '')                                    AS VEHICLE_NO,
    ISNULL(H.REMARKS,     '')                                    AS REMARKS,
    ISNULL(H.AUTH_STATUS, '')                                    AS AUTH_STATUS
FROM dbo.MTN_HDR H
INNER JOIN dbo.MTN_DTL      D   ON H.MTN_NO         = D.MTN_NO        AND H.MH_DEPT_CODE = D.MD_DEPT_CODE
LEFT  JOIN dbo.ITEM_MST     I   ON D.ITEM_CODE       = I.ITEM_CODE
LEFT  JOIN dbo.Category_Mst CAT ON I.CATEGORY_CODE  = CAT.Category_Code
LEFT  JOIN dbo.Brand_Master BRD ON I.BRAND_CODE     = BRD.Brand_Code

GO
/****** Object:  View [dbo].[VW_GST_CDNR]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_GST_CDNR] AS
SELECT
    DATEPART(YEAR,  RH.BILL_RTN_DATE)          AS FIN_YEAR,
    DATEPART(MONTH, RH.BILL_RTN_DATE)          AS TAX_MONTH,
    DATENAME(MONTH, RH.BILL_RTN_DATE)          AS MONTH_NAME,
    RH.SRH_DEPT_CODE                            AS DEPT_CODE,
    RH.BILL_RTN_NO                              AS NOTE_NUMBER,
    CONVERT(DATE, RH.BILL_RTN_DATE)            AS NOTE_DATE,
    RH.AGAINST_BILL_NO                          AS ORIGINAL_INVOICE,
    'CREDIT NOTE'                               AS NOTE_TYPE,
    SUM(ISNULL(RD.AMOUNT,0))                  AS TAXABLE_VALUE,
    SUM(ISNULL(CAST(RD.TAX_AMOUNT AS MONEY),0)) AS TOTAL_TAX,
    SUM(ISNULL(CAST(RD.TAX_AMOUNT AS MONEY),0)/2) AS CGST_AMT,
    SUM(ISNULL(CAST(RD.TAX_AMOUNT AS MONEY),0)/2) AS SGST_AMT,
    ISNULL(RH.GRAND_TOTAL,0)                   AS NOTE_VALUE,
    RH.REASON_FOR_REFUND                        AS REASON
FROM dbo.SALES_RETURN_HDR RH
INNER JOIN dbo.SALES_RETURN_DTL RD ON RH.BILL_RTN_NO=RD.BILL_RTN_NO
                                   AND RH.SRH_DEPT_CODE=RD.SRD_DEPT_CODE
GROUP BY DATEPART(YEAR,RH.BILL_RTN_DATE),DATEPART(MONTH,RH.BILL_RTN_DATE),
         DATENAME(MONTH,RH.BILL_RTN_DATE),RH.SRH_DEPT_CODE,RH.BILL_RTN_NO,
         CONVERT(DATE,RH.BILL_RTN_DATE),RH.AGAINST_BILL_NO,
         RH.GRAND_TOTAL,RH.REASON_FOR_REFUND

GO
/****** Object:  View [dbo].[VW_GST_GSTR1]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_GST_GSTR1] AS
SELECT
    DATEPART(YEAR,  H.BILL_DATE)               AS FIN_YEAR,
    DATEPART(MONTH, H.BILL_DATE)               AS TAX_MONTH,
    DATENAME(MONTH, H.BILL_DATE)               AS MONTH_NAME,
    H.SH_DEPT_CODE                             AS DEPT_CODE,
    H.BILL_NO,
    CONVERT(DATE, H.BILL_DATE)                 AS BILL_DATE,
    ISNULL(H.GSTBILLNO, CAST(H.BILL_NO AS VARCHAR)) AS GST_INVOICE_NO,
    H.INVOICE_TPE                              AS INVOICE_TYPE,
    H.CUSTOMER_CODE,
    H.CUSTOMER                                 AS CUSTOMER_NAME,
    -- B2B if customer has GSTIN (not stored here - classify by value)
    CASE WHEN ISNULL(H.GRAND_TOTAL,0)>=250000 THEN 'B2CL'
         WHEN H.CUSTOMER_CODE>0 THEN 'B2B'
         ELSE 'B2CS' END                        AS INVOICE_CATEGORY,
    SUM(ISNULL(D.AMOUNT,0)-ISNULL(D.DISC_AMOUNT,0)) AS TAXABLE_VALUE,
    SUM(CASE WHEN UPPER(ISNULL(D.TAX_TYPE,''))='IGST'
             THEN ISNULL(CAST(D.TAX_AMOUNT AS MONEY),0) ELSE 0 END) AS IGST_AMT,
    SUM(CASE WHEN UPPER(ISNULL(D.TAX_TYPE,''))<>'IGST'
             THEN ISNULL(CAST(D.TAX_AMOUNT AS MONEY),0)/2 ELSE 0 END) AS CGST_AMT,
    SUM(CASE WHEN UPPER(ISNULL(D.TAX_TYPE,''))<>'IGST'
             THEN ISNULL(CAST(D.TAX_AMOUNT AS MONEY),0)/2 ELSE 0 END) AS SGST_AMT,
    SUM(ISNULL(CAST(D.CESS_AMOUNT AS MONEY),0))  AS CESS_AMT,
    SUM(ISNULL(CAST(D.TAX_AMOUNT AS MONEY),0))   AS TOTAL_TAX,
    ISNULL(H.GRAND_TOTAL,0)                       AS INVOICE_VALUE
FROM dbo.SALES_HDR H
INNER JOIN dbo.SALES_DTL D ON H.BILL_NO=D.BILL_NO AND H.SH_DEPT_CODE=D.SD_DEPT_CODE
WHERE ISNULL(H.ISCANCELLED,0)=0
GROUP BY DATEPART(YEAR,H.BILL_DATE),DATEPART(MONTH,H.BILL_DATE),
         DATENAME(MONTH,H.BILL_DATE),H.SH_DEPT_CODE,H.BILL_NO,
         CONVERT(DATE,H.BILL_DATE),ISNULL(H.GSTBILLNO,CAST(H.BILL_NO AS VARCHAR)),
         H.INVOICE_TPE,H.CUSTOMER_CODE,H.CUSTOMER,H.GRAND_TOTAL

GO
/****** Object:  View [dbo].[VW_GST_GSTR3B]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_GST_GSTR3B] AS
SELECT
    DATEPART(YEAR,  H.BILL_DATE)               AS FIN_YEAR,
    DATEPART(MONTH, H.BILL_DATE)               AS TAX_MONTH,
    DATENAME(MONTH, H.BILL_DATE)               AS MONTH_NAME,
    H.SH_DEPT_CODE                             AS DEPT_CODE,
    -- 3.1(a) Outward taxable supplies
    SUM(ISNULL(D.AMOUNT,0)-ISNULL(D.DISC_AMOUNT,0)) AS TAXABLE_OUTWARD,
    SUM(CASE WHEN UPPER(ISNULL(D.TAX_TYPE,''))='IGST'
             THEN ISNULL(CAST(D.TAX_AMOUNT AS MONEY),0) ELSE 0 END) AS OUT_IGST,
    SUM(CASE WHEN UPPER(ISNULL(D.TAX_TYPE,''))<>'IGST'
             THEN ISNULL(CAST(D.TAX_AMOUNT AS MONEY),0)/2 ELSE 0 END) AS OUT_CGST,
    SUM(CASE WHEN UPPER(ISNULL(D.TAX_TYPE,''))<>'IGST'
             THEN ISNULL(CAST(D.TAX_AMOUNT AS MONEY),0)/2 ELSE 0 END) AS OUT_SGST,
    SUM(ISNULL(CAST(D.CESS_AMOUNT AS MONEY),0))  AS OUT_CESS,
    -- Nil rated / exempt
    SUM(CASE WHEN ISNULL(D.TAX_PERCENT,0)=0
             THEN ISNULL(D.AMOUNT,0) ELSE 0 END) AS NIL_RATED_SUPPLY,
    -- Total tax liability
    SUM(ISNULL(CAST(D.TAX_AMOUNT AS MONEY),0))   AS TOTAL_TAX_LIABILITY,
    -- Total invoice value
    SUM(ISNULL(H.GRAND_TOTAL,0))                  AS TOTAL_INVOICE_VALUE,
    COUNT(DISTINCT H.BILL_NO)                      AS INVOICE_COUNT
FROM dbo.SALES_HDR H
INNER JOIN dbo.SALES_DTL D ON H.BILL_NO=D.BILL_NO AND H.SH_DEPT_CODE=D.SD_DEPT_CODE
WHERE ISNULL(H.ISCANCELLED,0)=0
GROUP BY DATEPART(YEAR,H.BILL_DATE),DATEPART(MONTH,H.BILL_DATE),
         DATENAME(MONTH,H.BILL_DATE),H.SH_DEPT_CODE

GO
/****** Object:  View [dbo].[VW_GST_HSN_PURCHASE]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_GST_HSN_PURCHASE] AS
SELECT
    DATEPART(YEAR,  H.GRN_DATE)               AS FIN_YEAR,
    DATEPART(MONTH, H.GRN_DATE)               AS TAX_MONTH,
    DATENAME(MONTH, H.GRN_DATE)               AS MONTH_NAME,
    H.GH_DEPT_CODE                             AS DEPT_CODE,
    ISNULL(D.HSNSACCODE,'UNKNOWN')             AS HSN_CODE,
    ISNULL(I.PUR_UOM,'NOS')                   AS UOM,
    S.SUPPLIER_NAME,
    S.GSTIN_NO                                 AS SUPPLIER_GSTIN,
    COUNT(DISTINCT H.GRN_NO)                   AS GRN_COUNT,
    SUM(ISNULL(D.REC_QTY,0))                  AS TOTAL_QTY,
    SUM(ISNULL(D.AMOUNT,0))                   AS TAXABLE_VALUE,
    SUM(ISNULL(D.TAX_AMOUNT,0))              AS TOTAL_TAX,
    SUM(ISNULL(D.TAX_AMOUNT,0)/2)            AS CGST_AMT,
    SUM(ISNULL(D.TAX_AMOUNT,0)/2)            AS SGST_AMT,
    SUM(ISNULL(CAST(D.CESS_AMOUNT AS MONEY),0)) AS CESS_AMT,
    SUM(ISNULL(D.AMOUNT,0)+ISNULL(D.TAX_AMOUNT,0)) AS TOTAL_VALUE,
    AVG(ISNULL(D.TAX_PERCENT,0))              AS GST_RATE,
    CASE WHEN S.GSTIN_NO IS NOT NULL AND LEN(ISNULL(S.GSTIN_NO,''))=15
         THEN 'ELIGIBLE' ELSE 'INELIGIBLE' END AS ITC_STATUS
FROM dbo.GRN_HDR H
INNER JOIN dbo.GRN_DTL D    ON H.GRN_NO=D.GRN_NO AND H.GH_DEPT_CODE=D.GD_DEPT_CODE
LEFT  JOIN dbo.SUPPLIER_MST S   ON H.SUPPLIERCODE=S.SUPPLIER_CODE
LEFT  JOIN dbo.ITEM_MST I       ON D.ITEM_CODE=I.ITEM_CODE
WHERE ISNULL(H.ISCANCELLED,0)=0
GROUP BY DATEPART(YEAR,H.GRN_DATE),DATEPART(MONTH,H.GRN_DATE),
         DATENAME(MONTH,H.GRN_DATE),H.GH_DEPT_CODE,
         ISNULL(D.HSNSACCODE,'UNKNOWN'),ISNULL(I.PUR_UOM,'NOS'),
         S.SUPPLIER_NAME,S.GSTIN_NO

GO
/****** Object:  View [dbo].[VW_GST_HSN_SALES]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_GST_HSN_SALES] AS
SELECT
    DATEPART(YEAR,  H.BILL_DATE)                AS FIN_YEAR,
    DATEPART(MONTH, H.BILL_DATE)               AS TAX_MONTH,
    DATENAME(MONTH, H.BILL_DATE)               AS MONTH_NAME,
    H.SH_DEPT_CODE                             AS DEPT_CODE,
    ISNULL(D.HSNSACCODE,'UNKNOWN')             AS HSN_CODE,
    ISNULL(I.CONS_UOM,'NOS')                  AS UOM,
    COUNT(DISTINCT H.BILL_NO)                  AS BILL_COUNT,
    SUM(ISNULL(D.QTY,0))                      AS TOTAL_QTY,
    SUM(ISNULL(D.AMOUNT,0))                   AS TAXABLE_VALUE,
    SUM(ISNULL(D.DISC_AMOUNT,0))              AS TOTAL_DISCOUNT,
    SUM(ISNULL(D.AMOUNT,0)-ISNULL(D.DISC_AMOUNT,0)) AS NET_TAXABLE_VALUE,
    -- IGST (inter-state - simplified: where TAX_TYPE = 'IGST')
    SUM(CASE WHEN UPPER(ISNULL(D.TAX_TYPE,''))='IGST'
             THEN ISNULL(CAST(D.TAX_AMOUNT AS MONEY),0) ELSE 0 END) AS IGST_AMT,
    -- CGST = half of non-IGST tax
    SUM(CASE WHEN UPPER(ISNULL(D.TAX_TYPE,''))<>'IGST'
             THEN ISNULL(CAST(D.TAX_AMOUNT AS MONEY),0)/2 ELSE 0 END) AS CGST_AMT,
    -- SGST = half of non-IGST tax
    SUM(CASE WHEN UPPER(ISNULL(D.TAX_TYPE,''))<>'IGST'
             THEN ISNULL(CAST(D.TAX_AMOUNT AS MONEY),0)/2 ELSE 0 END) AS SGST_AMT,
    SUM(ISNULL(CAST(D.CESS_AMOUNT AS MONEY),0))  AS CESS_AMT,
    SUM(ISNULL(CAST(D.TAX_AMOUNT AS MONEY),0))   AS TOTAL_TAX,
    SUM(ISNULL(D.TOTAL,0))                        AS TOTAL_VALUE,
    AVG(ISNULL(D.TAX_PERCENT,0))                  AS GST_RATE
FROM dbo.SALES_HDR H
INNER JOIN dbo.SALES_DTL D ON H.BILL_NO=D.BILL_NO AND H.SH_DEPT_CODE=D.SD_DEPT_CODE
LEFT  JOIN dbo.ITEM_MST I  ON D.SERVICEORPRODUCTCODE=I.ITEM_CODE
WHERE ISNULL(H.ISCANCELLED,0)=0
  AND D.SALES_ITEM_TYPE='P'
  AND ISNULL(D.HSNSACCODE,'')<>''
GROUP BY DATEPART(YEAR,H.BILL_DATE),DATEPART(MONTH,H.BILL_DATE),
         DATENAME(MONTH,H.BILL_DATE),H.SH_DEPT_CODE,
         ISNULL(D.HSNSACCODE,'UNKNOWN'),ISNULL(I.CONS_UOM,'NOS')

GO
/****** Object:  View [dbo].[VW_GST_ITC_DETAIL]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_GST_ITC_DETAIL] AS
SELECT
    DATEPART(YEAR,  H.GRN_DATE)               AS FIN_YEAR,
    DATEPART(MONTH, H.GRN_DATE)               AS TAX_MONTH,
    DATENAME(MONTH, H.GRN_DATE)               AS MONTH_NAME,
    H.GH_DEPT_CODE                             AS DEPT_CODE,
    H.GRN_NO,
    CONVERT(DATE, H.GRN_DATE)                 AS GRN_DATE,
    H.INVOICENO                                AS SUPPLIER_INVOICE,
    CONVERT(DATE, H.INVOICE_DATE)             AS INVOICE_DATE,
    H.SUPPLIERCODE,
    S.SUPPLIER_NAME,
    S.GSTIN_NO                                 AS SUPPLIER_GSTIN,
    S.PAN_NO                                   AS SUPPLIER_PAN,
    SUM(ISNULL(D.AMOUNT,0))                   AS TAXABLE_VALUE,
    SUM(ISNULL(D.TAX_AMOUNT,0))              AS TOTAL_TAX,
    SUM(ISNULL(D.TAX_AMOUNT,0)/2)            AS CGST_ITC,
    SUM(ISNULL(D.TAX_AMOUNT,0)/2)            AS SGST_ITC,
    SUM(ISNULL(CAST(D.CESS_AMOUNT AS MONEY),0)) AS CESS_ITC,
    CASE WHEN S.GSTIN_NO IS NOT NULL AND LEN(ISNULL(S.GSTIN_NO,''))=15
         THEN 'ELIGIBLE'
         ELSE 'INELIGIBLE - NO GSTIN' END      AS ITC_ELIGIBILITY,
    CASE WHEN S.GSTIN_NO IS NOT NULL AND LEN(ISNULL(S.GSTIN_NO,''))=15
         THEN SUM(ISNULL(D.TAX_AMOUNT,0)) ELSE 0 END AS ELIGIBLE_ITC,
    CASE WHEN S.GSTIN_NO IS NULL OR LEN(ISNULL(S.GSTIN_NO,''))<>15
         THEN SUM(ISNULL(D.TAX_AMOUNT,0)) ELSE 0 END AS INELIGIBLE_ITC
FROM dbo.GRN_HDR H
INNER JOIN dbo.GRN_DTL D    ON H.GRN_NO=D.GRN_NO AND H.GH_DEPT_CODE=D.GD_DEPT_CODE
LEFT  JOIN dbo.SUPPLIER_MST S   ON H.SUPPLIERCODE=S.SUPPLIER_CODE
WHERE ISNULL(H.ISCANCELLED,0)=0
GROUP BY DATEPART(YEAR,H.GRN_DATE),DATEPART(MONTH,H.GRN_DATE),
         DATENAME(MONTH,H.GRN_DATE),H.GH_DEPT_CODE,H.GRN_NO,
         CONVERT(DATE,H.GRN_DATE),H.INVOICENO,CONVERT(DATE,H.INVOICE_DATE),
         H.SUPPLIERCODE,S.SUPPLIER_NAME,S.GSTIN_NO,S.PAN_NO

GO
/****** Object:  View [dbo].[VW_RPT_CATEGORY_SALES]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_RPT_CATEGORY_SALES] AS
SELECT
    D.SD_DEPT_CODE                      AS DEPT_CODE,
    DATEPART(YEAR,  H.BILL_DATE)       AS YEAR,
    DATEPART(MONTH, H.BILL_DATE)       AS MONTH,
    DATENAME(MONTH, H.BILL_DATE)       AS MONTH_NAME,
    CAT.Category_Code,
    CAT.Category_Desc                  AS CATEGORY,
    COUNT(DISTINCT H.BILL_NO)          AS BILL_COUNT,
    SUM(ISNULL(D.QTY,0))              AS TOTAL_QTY,
    SUM(ISNULL(D.AMOUNT,0))           AS TOTAL_SALES,
    SUM(ISNULL(D.DISC_AMOUNT,0))      AS TOTAL_DISCOUNT,
    SUM(ISNULL(D.AMOUNT,0)-ISNULL(D.ORG_CP,0)*ISNULL(D.QTY,0)) AS GROSS_PROFIT
FROM dbo.SALES_DTL D
INNER JOIN dbo.SALES_HDR H      ON D.BILL_NO=H.BILL_NO AND D.SD_DEPT_CODE=H.SH_DEPT_CODE
LEFT  JOIN dbo.ITEM_MST I       ON D.SERVICEORPRODUCTCODE=I.ITEM_CODE
LEFT  JOIN dbo.Category_Mst CAT ON I.CATEGORY_CODE=CAT.Category_Code
WHERE ISNULL(H.ISCANCELLED,0)=0 AND D.SALES_ITEM_TYPE='P'
GROUP BY D.SD_DEPT_CODE,DATEPART(YEAR,H.BILL_DATE),DATEPART(MONTH,H.BILL_DATE),
         DATENAME(MONTH,H.BILL_DATE),CAT.Category_Code,CAT.Category_Desc

GO
/****** Object:  View [dbo].[VW_RPT_CUSTOMER]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_RPT_CUSTOMER] AS
SELECT
    C.CUSTOMER_CODE,
    C.CUSTOMER_NAME,
    C.GENDER,
    CONVERT(DATE, C.DATEOFBIRTH)        AS DATE_OF_BIRTH,
    ISNULL(C.VIP_CUSTOMER, 0)          AS IS_VIP,
    C.CARD_TYPE,
    C.CARD_NUMBER,
    CONVERT(DATE, C.CARD_ISSUE_DATE)    AS CARD_ISSUE_DATE,
    CONVERT(DATE, C.CARD_EXPIRY_DATE)   AS CARD_EXPIRY_DATE,
    ISNULL(C.NO_OF_TRANSACTIONS, 0)    AS TOTAL_TRANSACTIONS,
    ISNULL(C.TRANSACTION_VALUE, 0)     AS TOTAL_VALUE,
    ISNULL(C.TOTAL_POINTS, 0)         AS TOTAL_POINTS,
    ISNULL(C.POINTS_REDEEM, 0)        AS POINTS_REDEEMED,
    ISNULL(C.BALANCE_POINTS, 0)       AS BALANCE_POINTS,
    C.OFFICE1_PHONE                    AS MOBILE,
    C.OFFICE1_EMAIL_ID                 AS EMAIL,
    C.OFFICE1_ADDRESS1                 AS ADDRESS,
    C.OFFICE1_CITY                     AS CITY,
    C.OFFICE1_STATE                    AS STATE,
    CONVERT(DATE, C.First_Visit)       AS FIRST_VISIT,
    CONVERT(DATE, C.Last_Visit)        AS LAST_VISIT,
    ISNULL(C.No_of_Visits, 0)         AS NO_OF_VISITS,
    ISNULL(C.Avg_Bill_Amount, 0)      AS AVG_BILL_AMOUNT,
    ISNULL(C.IsCredit_Customer, 0)    AS IS_CREDIT_CUSTOMER,
    ISNULL(C.Credit_Limit, 0)        AS CREDIT_LIMIT,
    ISNULL(C.Credit_Transactions_Value,0) AS CREDIT_USED,
    ISNULL(C.Credit_Payment_Received,0)   AS CREDIT_PAID
FROM dbo.CUSTOMER_MST C

GO
/****** Object:  View [dbo].[VW_RPT_CUSTOMER_LEDGER]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_RPT_CUSTOMER_LEDGER] AS
SELECT
    H.CUSTOMER_CODE,
    CM.CUSTOMER_NAME,
    CM.OFFICE1_PHONE                    AS MOBILE,
    H.SH_DEPT_CODE                      AS DEPT_CODE,
    H.BILL_NO,
    CONVERT(DATE, H.BILL_DATE)         AS BILL_DATE,
    ISNULL(H.GRAND_TOTAL, 0)          AS BILL_AMOUNT,
    ISNULL(H.DISC_AMOUNT, 0)          AS DISCOUNT,
    ISNULL(H.RedeemAmt, 0)            AS REDEEM_AMOUNT,
    PM.PayMode                          AS PAYMENT_MODE,
    ISNULL(P.PAY_AMOUNT, 0)          AS PAID_AMOUNT,
    ISNULL(H.BALANCE_AMOUNT, 0)      AS BALANCE
FROM dbo.SALES_HDR H
INNER JOIN dbo.CUSTOMER_MST CM ON H.CUSTOMER_CODE=CM.CUSTOMER_CODE
LEFT  JOIN dbo.SALES_PAYMENT_DTL P ON H.BILL_NO=P.BILL_NO AND H.SH_DEPT_CODE=P.SPD_DEPT_CODE
LEFT  JOIN dbo.Payment_Mode PM ON P.PAY_CODE=PM.PayCode
WHERE ISNULL(H.ISCANCELLED,0)=0
  AND H.CUSTOMER_CODE IS NOT NULL AND H.CUSTOMER_CODE>0

GO
/****** Object:  View [dbo].[VW_RPT_CUSTOMER_SEGMENTS]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_RPT_CUSTOMER_SEGMENTS] AS
SELECT
    H.CUSTOMER_CODE,
    CM.CUSTOMER_NAME,
    CM.OFFICE1_PHONE                   AS MOBILE,
    CM.OFFICE1_EMAIL_ID               AS EMAIL,
    ISNULL(CM.VIP_CUSTOMER,0)         AS IS_VIP,
    CM.OFFICE1_CITY                   AS CITY,
    COUNT(DISTINCT H.BILL_NO)          AS TOTAL_VISITS,
    SUM(ISNULL(H.GRAND_TOTAL,0))      AS LIFETIME_VALUE,
    AVG(ISNULL(H.GRAND_TOTAL,0))      AS AVG_BILL_VALUE,
    MAX(CONVERT(DATE,H.BILL_DATE))     AS LAST_VISIT,
    MIN(CONVERT(DATE,H.BILL_DATE))     AS FIRST_VISIT,
    DATEDIFF(DAY,MAX(CONVERT(DATE,H.BILL_DATE)),CAST(GETDATE() AS DATE)) AS DAYS_INACTIVE,
    ISNULL(CM.BALANCE_POINTS,0)       AS LOYALTY_POINTS,
    -- Segment logic
    CASE
        WHEN DATEDIFF(DAY,MAX(CONVERT(DATE,H.BILL_DATE)),CAST(GETDATE() AS DATE))<=30
             AND SUM(ISNULL(H.GRAND_TOTAL,0))>=10000 THEN 'CHAMPION'
        WHEN DATEDIFF(DAY,MAX(CONVERT(DATE,H.BILL_DATE)),CAST(GETDATE() AS DATE))<=30 THEN 'LOYAL'
        WHEN DATEDIFF(DAY,MAX(CONVERT(DATE,H.BILL_DATE)),CAST(GETDATE() AS DATE))<=90
             AND SUM(ISNULL(H.GRAND_TOTAL,0))>=5000 THEN 'POTENTIAL LOYALIST'
        WHEN DATEDIFF(DAY,MAX(CONVERT(DATE,H.BILL_DATE)),CAST(GETDATE() AS DATE))<=90 THEN 'RECENT'
        WHEN DATEDIFF(DAY,MAX(CONVERT(DATE,H.BILL_DATE)),CAST(GETDATE() AS DATE))<=180 THEN 'AT RISK'
        WHEN DATEDIFF(DAY,MAX(CONVERT(DATE,H.BILL_DATE)),CAST(GETDATE() AS DATE))<=365 THEN 'DORMANT'
        ELSE 'LOST'
    END AS CUSTOMER_SEGMENT
FROM dbo.SALES_HDR H
INNER JOIN dbo.CUSTOMER_MST CM ON H.CUSTOMER_CODE=CM.CUSTOMER_CODE
WHERE ISNULL(H.ISCANCELLED,0)=0
  AND H.CUSTOMER_CODE IS NOT NULL AND H.CUSTOMER_CODE>0
GROUP BY H.CUSTOMER_CODE,CM.CUSTOMER_NAME,CM.OFFICE1_PHONE,
         CM.OFFICE1_EMAIL_ID,ISNULL(CM.VIP_CUSTOMER,0),
         CM.OFFICE1_CITY,ISNULL(CM.BALANCE_POINTS,0)

GO
/****** Object:  View [dbo].[VW_RPT_CUSTOMER_TREND]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_RPT_CUSTOMER_TREND] AS
SELECT
    H.CUSTOMER_CODE,
    CM.CUSTOMER_NAME,
    CM.OFFICE1_PHONE                   AS MOBILE,
    ISNULL(CM.VIP_CUSTOMER,0)         AS IS_VIP,
    DATEPART(YEAR,  H.BILL_DATE)      AS YEAR,
    DATEPART(MONTH, H.BILL_DATE)      AS MONTH,
    DATENAME(MONTH, H.BILL_DATE)      AS MONTH_NAME,
    H.SH_DEPT_CODE                     AS DEPT_CODE,
    COUNT(DISTINCT H.BILL_NO)          AS VISIT_COUNT,
    SUM(ISNULL(H.GRAND_TOTAL,0))      AS TOTAL_SPENT,
    AVG(ISNULL(H.GRAND_TOTAL,0))      AS AVG_BILL,
    MAX(ISNULL(H.GRAND_TOTAL,0))      AS MAX_BILL,
    SUM(ISNULL(H.DISC_AMOUNT,0))     AS TOTAL_DISCOUNT,
    SUM(ISNULL(H.RedeemAmt,0))       AS TOTAL_REDEEMED,
    MAX(CONVERT(DATE,H.BILL_DATE))    AS LAST_PURCHASE_DATE,
    DATEDIFF(DAY, MAX(CONVERT(DATE,H.BILL_DATE)), CAST(GETDATE() AS DATE)) AS DAYS_SINCE_LAST_VISIT
FROM dbo.SALES_HDR H
INNER JOIN dbo.CUSTOMER_MST CM ON H.CUSTOMER_CODE=CM.CUSTOMER_CODE
WHERE ISNULL(H.ISCANCELLED,0)=0
  AND H.CUSTOMER_CODE IS NOT NULL AND H.CUSTOMER_CODE>0
GROUP BY H.CUSTOMER_CODE,CM.CUSTOMER_NAME,CM.OFFICE1_PHONE,
         ISNULL(CM.VIP_CUSTOMER,0),DATEPART(YEAR,H.BILL_DATE),
         DATEPART(MONTH,H.BILL_DATE),DATENAME(MONTH,H.BILL_DATE),H.SH_DEPT_CODE

GO
/****** Object:  View [dbo].[vw_RPT_CustomerCreditLedger]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_RPT_CustomerCreditLedger] AS
SELECT
    cm.CUSTOMER_CODE,
    cm.CUSTOMER_NAME,
    cm.MobileNo,
    cm.IsCredit_Customer,
    cm.Credit_Limit,
    cm.CREDIT_OPENING,
    cm.Credit_Transactions_Value,
    cm.Credit_Payment_Received,
    cm.Credit_Balance,
    cm.isactive                         AS Is_Active
FROM CUSTOMER_MST cm
WHERE cm.IsCredit_Customer = 1;

GO
/****** Object:  View [dbo].[vw_RPT_CustomerMaster]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_RPT_CustomerMaster] AS
SELECT
    cm.CUSTOMER_CODE,
    cm.CUSTOMER_NAME,
    cm.GENDER,
    cm.MobileNo,
    cm.OFFICE1_EMAIL_ID                 AS Email,
    cm.DATEOFBIRTH,
    cm.CARD_TYPE,
    cm.CARD_NUMBER,
    cm.CARD_EXPIRY_DATE,
    cm.VIP_CUSTOMER,
    cm.First_Visit,
    cm.Last_Visit,
    cm.No_of_Visits,
    cm.NO_OF_TRANSACTIONS,
    cm.TRANSACTION_VALUE,
    cm.Avg_Bill_Amount,
    cm.TOTAL_POINTS,
    cm.POINTS_REDEEM,
    cm.BALANCE_POINTS,
    cm.IsCredit_Customer,
    cm.Credit_Limit,
    cm.Credit_Balance,
    cm.GSTIN_NO,
    cm.isactive                         AS Is_Active,
    cm.OFFICE1_CITY                     AS City,
    cm.OFFICE1_STATE                    AS State
FROM CUSTOMER_MST cm;

GO
/****** Object:  View [dbo].[vw_RPT_CustomerPurchaseHistory]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_RPT_CustomerPurchaseHistory] AS
SELECT
    h.CUSTOMER_CODE,
    cm.CUSTOMER_NAME,
    cm.MobileNo,
    h.BILL_NO,
    CAST(h.BILL_DATE AS DATE)           AS Bill_Date,
    h.SH_DEPT_CODE                      AS Dept_Code,
    h.SUBTOTAL_AMOUNT,
    h.DISC_AMOUNT,
    h.GRAND_TOTAL,
    h.RedeemAmt                         AS Points_Redeemed_Amt,
    pm.PayMode                          AS Payment_Mode
FROM SALES_HDR h
INNER JOIN CUSTOMER_MST cm         ON h.CUSTOMER_CODE = cm.CUSTOMER_CODE
LEFT JOIN  SALES_PAYMENT_DTL spd   ON h.BILL_NO       = spd.BILL_NO
LEFT JOIN  Payment_Mode pm         ON spd.PAY_CODE     = pm.PayCode
WHERE h.ISCANCELLED = 0;

GO
/****** Object:  View [dbo].[VW_RPT_DAILY_TREND]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_RPT_DAILY_TREND] AS
SELECT
    SH_DEPT_CODE                              AS DEPT_CODE,
    CONVERT(DATE, BILL_DATE)                  AS SALE_DATE,
    DATEPART(YEAR,  BILL_DATE)               AS YEAR,
    DATEPART(MONTH, BILL_DATE)               AS MONTH,
    DATENAME(MONTH, BILL_DATE)               AS MONTH_NAME,
    DATEPART(DAY,   BILL_DATE)               AS DAY,
    DATENAME(WEEKDAY, BILL_DATE)             AS WEEKDAY,
    COUNT(BILL_NO)                            AS BILL_COUNT,
    SUM(ISNULL(GRAND_TOTAL,0))               AS TOTAL_SALES,
    SUM(ISNULL(DISC_AMOUNT,0))               AS TOTAL_DISCOUNT,
    SUM(ISNULL(SUBTOTAL_AMOUNT,0))           AS SUBTOTAL,
    AVG(ISNULL(GRAND_TOTAL,0))               AS AVG_BILL_VALUE,
    MAX(ISNULL(GRAND_TOTAL,0))               AS MAX_BILL_VALUE,
    MIN(ISNULL(GRAND_TOTAL,0))               AS MIN_BILL_VALUE,
    SUM(ISNULL(RedeemAmt,0))                AS TOTAL_REDEEMED
FROM dbo.SALES_HDR
WHERE ISNULL(ISCANCELLED,0)=0
GROUP BY SH_DEPT_CODE, CONVERT(DATE,BILL_DATE),
         DATEPART(YEAR,BILL_DATE),DATEPART(MONTH,BILL_DATE),
         DATENAME(MONTH,BILL_DATE),DATEPART(DAY,BILL_DATE),
         DATENAME(WEEKDAY,BILL_DATE)

GO
/****** Object:  View [dbo].[vw_RPT_DailySalesSummary]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_RPT_DailySalesSummary] AS
SELECT
    CAST(h.BILL_DATE AS DATE)           AS Bill_Date,
    h.SH_DEPT_CODE                      AS Dept_Code,
    COUNT(DISTINCT h.BILL_NO)           AS Total_Bills,
    SUM(h.GRAND_TOTAL)                  AS Gross_Sales,
    SUM(h.DISC_AMOUNT)                  AS Total_Discount,
    SUM(h.GRAND_TOTAL - ISNULL(h.DISC_AMOUNT,0)) AS Net_Sales,
    SUM(h.SALES_TAX_AMOUNT)             AS Tax_Amount,
    COUNT(DISTINCT h.CUSTOMER_CODE)     AS Unique_Customers,
    SUM(h.RedeemAmt)                    AS Loyalty_Redeemed
FROM SALES_HDR h
WHERE h.ISCANCELLED = 0
GROUP BY CAST(h.BILL_DATE AS DATE), h.SH_DEPT_CODE;

GO
/****** Object:  View [dbo].[VW_RPT_DASHBOARD]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_RPT_DASHBOARD] AS
SELECT
    CAST(GETDATE() AS DATE)            AS REPORT_DATE,
    -- Today sales
    (SELECT COUNT(*) FROM dbo.SALES_HDR WHERE CONVERT(DATE,BILL_DATE)=CAST(GETDATE() AS DATE) AND ISNULL(ISCANCELLED,0)=0) AS TODAY_BILLS,
    (SELECT ISNULL(SUM(GRAND_TOTAL),0) FROM dbo.SALES_HDR WHERE CONVERT(DATE,BILL_DATE)=CAST(GETDATE() AS DATE) AND ISNULL(ISCANCELLED,0)=0) AS TODAY_SALES,
    (SELECT ISNULL(SUM(DISC_AMOUNT),0) FROM dbo.SALES_HDR WHERE CONVERT(DATE,BILL_DATE)=CAST(GETDATE() AS DATE) AND ISNULL(ISCANCELLED,0)=0) AS TODAY_DISCOUNT,
    -- This month
    (SELECT ISNULL(SUM(GRAND_TOTAL),0) FROM dbo.SALES_HDR WHERE YEAR(BILL_DATE)=YEAR(GETDATE()) AND MONTH(BILL_DATE)=MONTH(GETDATE()) AND ISNULL(ISCANCELLED,0)=0) AS MTD_SALES,
    (SELECT COUNT(*) FROM dbo.SALES_HDR WHERE YEAR(BILL_DATE)=YEAR(GETDATE()) AND MONTH(BILL_DATE)=MONTH(GETDATE()) AND ISNULL(ISCANCELLED,0)=0) AS MTD_BILLS,
    -- Stock
    (SELECT COUNT(*) FROM dbo.ITEM_MST WHERE ISNULL(QOH,0)<=0 AND ISNULL(Discontinue,0)=0) AS OUT_OF_STOCK_COUNT,
    (SELECT COUNT(*) FROM dbo.ITEM_MST WHERE ISNULL(QOH,0)<=ISNULL(REORDER_LVL,0) AND ISNULL(REORDER_LVL,0)>0 AND ISNULL(Discontinue,0)=0) AS REORDER_COUNT,
    (SELECT ISNULL(SUM(ISNULL(QOH,0)*ISNULL(CP,0)),0) FROM dbo.ITEM_MST WHERE ISNULL(Discontinue,0)=0) AS TOTAL_STOCK_VALUE,
    -- Customers
    (SELECT COUNT(*) FROM dbo.CUSTOMER_MST) AS TOTAL_CUSTOMERS,
    -- Purchases this month
    (SELECT ISNULL(SUM(GRANDTOTAL),0) FROM dbo.GRN_HDR WHERE YEAR(GRN_DATE)=YEAR(GETDATE()) AND MONTH(GRN_DATE)=MONTH(GETDATE()) AND ISNULL(ISCANCELLED,0)=0) AS MTD_PURCHASE

GO
/****** Object:  View [dbo].[vw_RPT_DayOfWeekSales]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_RPT_DayOfWeekSales] AS
SELECT
    DATENAME(WEEKDAY, h.BILL_DATE)      AS Day_Name,
    DATEPART(WEEKDAY, h.BILL_DATE)      AS Day_Number,
    h.SH_DEPT_CODE                      AS Dept_Code,
    COUNT(DISTINCT h.BILL_NO)           AS Bill_Count,
    SUM(h.GRAND_TOTAL)                  AS Total_Sales,
    AVG(h.GRAND_TOTAL)                  AS Avg_Bill
FROM SALES_HDR h
WHERE h.ISCANCELLED = 0
GROUP BY DATENAME(WEEKDAY, h.BILL_DATE), DATEPART(WEEKDAY, h.BILL_DATE), h.SH_DEPT_CODE;

GO
/****** Object:  View [dbo].[vw_RPT_DiscountAnalysis]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_RPT_DiscountAnalysis] AS
SELECT
    CAST(h.BILL_DATE AS DATE)           AS Bill_Date,
    h.SH_DEPT_CODE                      AS Dept_Code,
    COUNT(DISTINCT h.BILL_NO)           AS Bills_With_Discount,
    SUM(h.GRAND_TOTAL)                  AS Gross_Sales,
    SUM(h.DISC_AMOUNT)                  AS Total_Bill_Discount,
    SUM(d.Line_Disc_Amount)             AS Total_Line_Discount,
    SUM(h.DISC_AMOUNT) + SUM(d.Line_Disc_Amount) AS Total_Discount,
    CASE
        WHEN SUM(h.GRAND_TOTAL) > 0
        THEN ROUND((SUM(h.DISC_AMOUNT)/SUM(h.GRAND_TOTAL))*100, 2)
        ELSE 0
    END                                 AS Discount_Pct
FROM SALES_HDR h
INNER JOIN SALES_DTL d ON h.BILL_NO = d.BILL_NO
WHERE h.ISCANCELLED = 0
GROUP BY CAST(h.BILL_DATE AS DATE), h.SH_DEPT_CODE;

GO
/****** Object:  View [dbo].[vw_RPT_DormantCustomers]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_RPT_DormantCustomers] AS
SELECT
    cm.CUSTOMER_CODE,
    cm.CUSTOMER_NAME,
    cm.MobileNo,
    cm.OFFICE1_EMAIL_ID                 AS Email,
    cm.Last_Visit,
    cm.No_of_Visits,
    cm.TRANSACTION_VALUE,
    cm.BALANCE_POINTS,
    DATEDIFF(DAY, cm.Last_Visit, GETDATE()) AS Days_Since_Last_Visit
FROM CUSTOMER_MST cm
WHERE cm.isactive = 1
  AND (cm.Last_Visit IS NULL OR DATEDIFF(DAY, cm.Last_Visit, GETDATE()) > 90);

GO
/****** Object:  View [dbo].[VW_RPT_EXCEPTIONS]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_RPT_EXCEPTIONS] AS
-- Negative / zero stock items
SELECT
    'NEGATIVE STOCK'                   AS EXCEPTION_TYPE,
    'HIGH'                             AS SEVERITY,
    CAST(ITEM_CODE AS VARCHAR)         AS REFERENCE_NO,
    ITEM_NAME                          AS DESCRIPTION,
    CAST(QOH AS VARCHAR)               AS AMOUNT_STR,
    GETDATE()                          AS EXCEPTION_DATE,
    NULL                               AS DEPT_CODE
FROM dbo.ITEM_MST
WHERE ISNULL(QOH,0)<0 AND ISNULL(Discontinue,0)=0
UNION ALL
-- High value cancelled bills
SELECT
    'CANCELLED HIGH VALUE BILL',
    'HIGH',
    CAST(BILL_NO AS VARCHAR),
    'Bill cancelled: ' + ISNULL(REASON_FOR_CANCELLATION,'No reason'),
    CAST(ISNULL(GRAND_TOTAL,0) AS VARCHAR),
    CANCELLED_DATE,
    SH_DEPT_CODE
FROM dbo.SALES_HDR
WHERE ISNULL(ISCANCELLED,0)=1 AND ISNULL(GRAND_TOTAL,0)>5000
UNION ALL
-- Items with stock below reorder
SELECT
    'REORDER ALERT',
    'MEDIUM',
    CAST(ITEM_CODE AS VARCHAR),
    ITEM_NAME,
    'QOH:' + CAST(ISNULL(QOH,0) AS VARCHAR) + ' REORDER:' + CAST(ISNULL(REORDER_LVL,0) AS VARCHAR),
    GETDATE(),
    NULL
FROM dbo.ITEM_MST
WHERE ISNULL(QOH,0)<=ISNULL(REORDER_LVL,0) AND ISNULL(REORDER_LVL,0)>0
  AND ISNULL(Discontinue,0)=0

GO
/****** Object:  View [dbo].[vw_RPT_GSTSalesRegister]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_RPT_GSTSalesRegister] AS
SELECT
    h.BILL_NO,
    h.GSTBILLNO,
    CAST(h.BILL_DATE AS DATE)           AS Bill_Date,
    h.CUSTOMER,
    cm.GSTIN_NO                         AS Customer_GSTIN,
    h.SH_DEPT_CODE                      AS Dept_Code,
    d.SERVICEORPRODUCTCODE              AS Item_Code,
    im.ITEM_NAME,
    im.HSN_CODE,
    d.QTY,
    d.RATE,
    d.AMOUNT                            AS Taxable_Amount,
    d.TAX_PERCENT                       AS Tax_Pct,
    d.TAX_AMOUNT,
    d.CESS_PERCENT,
    d.CESS_AMOUNT,
    d.TOTAL                             AS Total_Amount
FROM SALES_HDR h
INNER JOIN SALES_DTL d    ON h.BILL_NO = d.BILL_NO
LEFT JOIN  ITEM_MST im    ON d.SERVICEORPRODUCTCODE = im.ITEM_CODE
LEFT JOIN  CUSTOMER_MST cm ON h.CUSTOMER_CODE = cm.CUSTOMER_CODE
WHERE h.ISCANCELLED = 0;

GO
/****** Object:  View [dbo].[vw_RPT_HourlySales]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_RPT_HourlySales] AS
SELECT
    CAST(h.BILL_DATE AS DATE)           AS Bill_Date,
    DATEPART(HOUR, h.BILL_DATE)         AS Hour_Of_Day,
    h.SH_DEPT_CODE                      AS Dept_Code,
    COUNT(DISTINCT h.BILL_NO)           AS Bill_Count,
    SUM(h.GRAND_TOTAL)                  AS Total_Sales,
    AVG(h.GRAND_TOTAL)                  AS Avg_Bill_Value
FROM SALES_HDR h
WHERE h.ISCANCELLED = 0
GROUP BY CAST(h.BILL_DATE AS DATE), DATEPART(HOUR, h.BILL_DATE), h.SH_DEPT_CODE;

GO
/****** Object:  View [dbo].[VW_RPT_ITEM_TREND]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_RPT_ITEM_TREND] AS
SELECT
    D.SERVICEORPRODUCTCODE                  AS ITEM_CODE,
    I.ITEM_NAME,
    I.EAN_CODE,
    CAT.Category_Desc                       AS CATEGORY,
    BRD.Brand_Name                          AS BRAND,
    D.SD_DEPT_CODE                          AS DEPT_CODE,
    DATEPART(YEAR,  H.BILL_DATE)           AS SALE_YEAR,
    DATEPART(MONTH, H.BILL_DATE)           AS SALE_MONTH,
    DATENAME(MONTH, H.BILL_DATE)           AS MONTH_NAME,
    COUNT(DISTINCT H.BILL_NO)              AS BILL_COUNT,
    COUNT(DISTINCT H.CUSTOMER_CODE)        AS UNIQUE_CUSTOMERS,
    SUM(ISNULL(D.QTY,0))                  AS QTY_SOLD,
    SUM(ISNULL(D.AMOUNT,0))               AS SALES_VALUE,
    SUM(ISNULL(D.DISC_AMOUNT,0))          AS DISCOUNT_GIVEN,
    AVG(ISNULL(D.RATE,0))                 AS AVG_SELLING_RATE,
    SUM(ISNULL(D.AMOUNT,0) - ISNULL(D.ORG_CP,0)*ISNULL(D.QTY,0)) AS GROSS_PROFIT,
    CASE WHEN SUM(ISNULL(D.AMOUNT,0))>0
         THEN SUM(ISNULL(D.AMOUNT,0) - ISNULL(D.ORG_CP,0)*ISNULL(D.QTY,0))
              / SUM(ISNULL(D.AMOUNT,0)) * 100
         ELSE 0 END                         AS MARGIN_PCT,
    -- Stock status
    ISNULL(I.QOH,0)                        AS CURRENT_STOCK,
    ISNULL(I.REORDER_LVL,0)              AS REORDER_LEVEL
FROM dbo.SALES_HDR H
INNER JOIN dbo.SALES_DTL D  ON H.BILL_NO=D.BILL_NO AND H.SH_DEPT_CODE=D.SD_DEPT_CODE
LEFT  JOIN dbo.ITEM_MST I   ON D.SERVICEORPRODUCTCODE=I.ITEM_CODE
LEFT  JOIN dbo.Category_Mst CAT ON I.CATEGORY_CODE=CAT.Category_Code
LEFT  JOIN dbo.Brand_Master BRD ON I.BRAND_CODE=BRD.Brand_Code
WHERE ISNULL(H.ISCANCELLED,0)=0 AND D.SALES_ITEM_TYPE='P'
GROUP BY D.SERVICEORPRODUCTCODE, I.ITEM_NAME, I.EAN_CODE, CAT.Category_Desc,
         BRD.Brand_Name, D.SD_DEPT_CODE, DATEPART(YEAR,H.BILL_DATE),
         DATEPART(MONTH,H.BILL_DATE), DATENAME(MONTH,H.BILL_DATE), I.QOH, I.REORDER_LVL

GO
/****** Object:  View [dbo].[VW_RPT_ITEM_VELOCITY]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_RPT_ITEM_VELOCITY] AS
SELECT
    D.SD_DEPT_CODE                     AS DEPT_CODE,
    D.SERVICEORPRODUCTCODE             AS ITEM_CODE,
    I.ITEM_NAME,
    I.EAN_CODE,
    CAT.Category_Desc                  AS CATEGORY,
    BRD.Brand_Name                     AS BRAND,
    S.SUPPLIER_NAME,
    ISNULL(I.QOH,0)                   AS CURRENT_STOCK,
    COUNT(DISTINCT H.BILL_NO)          AS BILLS_COUNT,
    COUNT(DISTINCT CONVERT(DATE,H.BILL_DATE)) AS DAYS_SOLD,
    SUM(ISNULL(D.QTY,0))             AS TOTAL_QTY_SOLD,
    SUM(ISNULL(D.AMOUNT,0))          AS TOTAL_REVENUE,
    AVG(ISNULL(D.QTY,0))             AS AVG_QTY_PER_BILL,
    MAX(CONVERT(DATE,H.BILL_DATE))    AS LAST_SOLD_DATE,
    DATEDIFF(DAY,MAX(CONVERT(DATE,H.BILL_DATE)),CAST(GETDATE() AS DATE)) AS DAYS_SINCE_SOLD,
    -- Daily average sales
    CASE WHEN DATEDIFF(DAY,MIN(CONVERT(DATE,H.BILL_DATE)),MAX(CONVERT(DATE,H.BILL_DATE)))>0
         THEN SUM(ISNULL(D.QTY,0)) / DATEDIFF(DAY,MIN(CONVERT(DATE,H.BILL_DATE)),CAST(GETDATE() AS DATE))
         ELSE SUM(ISNULL(D.QTY,0)) END AS DAILY_AVG_SALES,
    -- Velocity classification
    CASE
        WHEN SUM(ISNULL(D.QTY,0)) >= 100 AND DATEDIFF(DAY,MAX(CONVERT(DATE,H.BILL_DATE)),CAST(GETDATE() AS DATE))<=30 THEN 'FAST MOVING'
        WHEN SUM(ISNULL(D.QTY,0)) >= 20  AND DATEDIFF(DAY,MAX(CONVERT(DATE,H.BILL_DATE)),CAST(GETDATE() AS DATE))<=60 THEN 'MEDIUM MOVING'
        WHEN DATEDIFF(DAY,MAX(CONVERT(DATE,H.BILL_DATE)),CAST(GETDATE() AS DATE))>180 THEN 'DEAD STOCK'
        ELSE 'SLOW MOVING'
    END AS VELOCITY
FROM dbo.SALES_DTL D
INNER JOIN dbo.SALES_HDR H      ON D.BILL_NO=H.BILL_NO AND D.SD_DEPT_CODE=H.SH_DEPT_CODE
LEFT  JOIN dbo.ITEM_MST I       ON D.SERVICEORPRODUCTCODE=I.ITEM_CODE
LEFT  JOIN dbo.Category_Mst CAT ON I.CATEGORY_CODE=CAT.Category_Code
LEFT  JOIN dbo.Brand_Master BRD ON I.BRAND_CODE=BRD.Brand_Code
LEFT  JOIN dbo.SUPPLIER_MST S   ON I.SUPPLIER_CODE=S.SUPPLIER_CODE
WHERE ISNULL(H.ISCANCELLED,0)=0 AND D.SALES_ITEM_TYPE='P'
GROUP BY D.SD_DEPT_CODE,D.SERVICEORPRODUCTCODE,I.ITEM_NAME,I.EAN_CODE,
         CAT.Category_Desc,BRD.Brand_Name,S.SUPPLIER_NAME,ISNULL(I.QOH,0)

GO
/****** Object:  View [dbo].[VW_RPT_LOYALTY_LEDGER]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_RPT_LOYALTY_LEDGER] AS
SELECT
    LP.CUSTOMER_CODE,
    CM.CUSTOMER_NAME,
    CM.OFFICE1_PHONE                   AS MOBILE,
    LP.TRANSACTION_NO,
    CONVERT(DATE, LP.TRANSACTION_DATE) AS TXN_DATE,
    LP.TRANSACTION_TYPE                AS TXN_TYPE,
    ISNULL(LP.POINTSCOLLECTED, 0)     AS POINTS_EARNED,
    ISNULL(LP.COLLECTEDVALUE, 0)      AS EARN_VALUE,
    ISNULL(LP.POINTSDEDUCTED, 0)     AS POINTS_REDEEMED,
    ISNULL(LP.DEDUCTEDVALUE, 0)      AS REDEEM_VALUE,
    ISNULL(LP.BillValue, 0)          AS BILL_VALUE,
    ISNULL(LP.SinglePointValue, 0)   AS POINT_VALUE,
    LP.CLP_DEPT_CODE                  AS DEPT_CODE
FROM dbo.CUST_LOYALTY_POINTS LP
LEFT JOIN dbo.CUSTOMER_MST CM ON LP.CUSTOMER_CODE=CM.CUSTOMER_CODE

GO
/****** Object:  View [dbo].[vw_RPT_LoyaltyPointsLedger]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_RPT_LoyaltyPointsLedger] AS
SELECT
    lp.TRANSACTION_NO,
    CAST(lp.TRANSACTION_DATE AS DATE)   AS Trans_Date,
    lp.TRANSACTION_TYPE,
    lp.CUSTOMER_CODE,
    cm.CUSTOMER_NAME,
    cm.MobileNo,
    lp.POINTSCOLLECTED,
    lp.COLLECTEDVALUE,
    lp.POINTSDEDUCTED,
    lp.DEDUCTEDVALUE,
    lp.SinglePointValue,
    lp.BillValue,
    lp.CLP_DEPT_CODE                    AS Dept_Code,
    cm.BALANCE_POINTS
FROM CUST_LOYALTY_POINTS lp
LEFT JOIN CUSTOMER_MST cm ON lp.CUSTOMER_CODE = cm.CUSTOMER_CODE;

GO
/****** Object:  View [dbo].[vw_RPT_MonthlySalesTrend]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_RPT_MonthlySalesTrend] AS
SELECT
    YEAR(h.BILL_DATE)                   AS Sales_Year,
    MONTH(h.BILL_DATE)                  AS Sales_Month,
    DATENAME(MONTH, h.BILL_DATE)        AS Month_Name,
    h.SH_DEPT_CODE                      AS Dept_Code,
    COUNT(DISTINCT h.BILL_NO)           AS Total_Bills,
    COUNT(DISTINCT h.CUSTOMER_CODE)     AS Unique_Customers,
    SUM(h.GRAND_TOTAL)                  AS Gross_Sales,
    SUM(h.DISC_AMOUNT)                  AS Total_Discount,
    SUM(h.RedeemAmt)                    AS Points_Redeemed,
    SUM(h.GRAND_TOTAL - ISNULL(h.DISC_AMOUNT,0)) AS Net_Sales,
    AVG(h.GRAND_TOTAL)                  AS Avg_Bill_Value
FROM SALES_HDR h
WHERE h.ISCANCELLED = 0
GROUP BY YEAR(h.BILL_DATE), MONTH(h.BILL_DATE), DATENAME(MONTH, h.BILL_DATE), h.SH_DEPT_CODE;

GO
/****** Object:  View [dbo].[VW_RPT_PAYMENT_COLLECTION]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_RPT_PAYMENT_COLLECTION] AS
SELECT
    H.SH_DEPT_CODE                      AS DEPT_CODE,
    H.BILL_NO,
    CONVERT(DATE, H.BILL_DATE)          AS BILL_DATE,
    DATEPART(YEAR,  H.BILL_DATE)        AS BILL_YEAR,
    DATEPART(MONTH, H.BILL_DATE)        AS BILL_MONTH,
    P.PAY_CODE,
    PM.PayMode                          AS PAYMENT_MODE,
    ISNULL(P.PAY_AMOUNT, 0)            AS PAY_AMOUNT,
    H.GRAND_TOTAL
FROM dbo.SALES_HDR H
INNER JOIN dbo.SALES_PAYMENT_DTL P ON H.BILL_NO=P.BILL_NO AND H.SH_DEPT_CODE=P.SPD_DEPT_CODE
LEFT  JOIN dbo.Payment_Mode PM      ON P.PAY_CODE=PM.PayCode
WHERE ISNULL(H.ISCANCELLED,0)=0

GO
/****** Object:  View [dbo].[vw_RPT_PaymentModeSales]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_RPT_PaymentModeSales] AS
SELECT
    CAST(h.BILL_DATE AS DATE)           AS Bill_Date,
    h.SH_DEPT_CODE                      AS Dept_Code,
    pm.PayMode                          AS Payment_Mode,
    COUNT(DISTINCT p.BILL_NO)           AS Bill_Count,
    SUM(p.PAY_AMOUNT)                   AS Total_Amount
FROM SALES_PAYMENT_DTL p
INNER JOIN SALES_HDR h   ON p.BILL_NO  = h.BILL_NO
INNER JOIN Payment_Mode pm ON p.PAY_CODE = pm.PayCode
WHERE h.ISCANCELLED = 0
GROUP BY CAST(h.BILL_DATE AS DATE), h.SH_DEPT_CODE, pm.PayMode;

GO
/****** Object:  View [dbo].[VW_RPT_PROFITABILITY]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_RPT_PROFITABILITY] AS
SELECT
    H.SH_DEPT_CODE                     AS DEPT_CODE,
    DATEPART(YEAR,  H.BILL_DATE)      AS YEAR,
    DATEPART(MONTH, H.BILL_DATE)      AS MONTH,
    DATENAME(MONTH, H.BILL_DATE)      AS MONTH_NAME,
    D.SERVICEORPRODUCTCODE             AS ITEM_CODE,
    I.ITEM_NAME,
    CAT.Category_Desc                  AS CATEGORY,
    BRD.Brand_Name                     AS BRAND,
    H.CUSTOMER_CODE,
    H.CUSTOMER                         AS CUSTOMER_NAME,
    SUM(ISNULL(D.QTY,0))             AS QTY_SOLD,
    SUM(ISNULL(D.AMOUNT,0))          AS REVENUE,
    SUM(ISNULL(D.ORG_CP,0)*ISNULL(D.QTY,0)) AS COST_OF_GOODS,
    SUM(ISNULL(D.DISC_AMOUNT,0))     AS DISCOUNT_GIVEN,
    SUM(ISNULL(D.AMOUNT,0)) - SUM(ISNULL(D.ORG_CP,0)*ISNULL(D.QTY,0)) AS GROSS_PROFIT,
    CASE WHEN SUM(ISNULL(D.AMOUNT,0))>0
         THEN (SUM(ISNULL(D.AMOUNT,0))-SUM(ISNULL(D.ORG_CP,0)*ISNULL(D.QTY,0)))
              / SUM(ISNULL(D.AMOUNT,0)) * 100
         ELSE 0 END                    AS MARGIN_PCT,
    SUM(ISNULL(CAST(D.TAX_AMOUNT AS MONEY),0)) AS GST_COLLECTED
FROM dbo.SALES_HDR H
INNER JOIN dbo.SALES_DTL D      ON H.BILL_NO=D.BILL_NO AND H.SH_DEPT_CODE=D.SD_DEPT_CODE
LEFT  JOIN dbo.ITEM_MST I       ON D.SERVICEORPRODUCTCODE=I.ITEM_CODE
LEFT  JOIN dbo.Category_Mst CAT ON I.CATEGORY_CODE=CAT.Category_Code
LEFT  JOIN dbo.Brand_Master BRD ON I.BRAND_CODE=BRD.Brand_Code
WHERE ISNULL(H.ISCANCELLED,0)=0 AND D.SALES_ITEM_TYPE='P'
GROUP BY H.SH_DEPT_CODE,DATEPART(YEAR,H.BILL_DATE),DATEPART(MONTH,H.BILL_DATE),
         DATENAME(MONTH,H.BILL_DATE),D.SERVICEORPRODUCTCODE,I.ITEM_NAME,
         CAT.Category_Desc,BRD.Brand_Name,H.CUSTOMER_CODE,H.CUSTOMER

GO
/****** Object:  View [dbo].[VW_RPT_PURCHASE_DETAIL]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_RPT_PURCHASE_DETAIL] AS
SELECT
    H.GH_DEPT_CODE                      AS DEPT_CODE,
    H.GRN_NO,
    CONVERT(DATE, H.GRN_DATE)          AS GRN_DATE,
    DATEPART(YEAR,  H.GRN_DATE)        AS GRN_YEAR,
    DATEPART(MONTH, H.GRN_DATE)        AS GRN_MONTH,
    H.SUPPLIERCODE,
    S.SUPPLIER_NAME,
    D.ITEM_CODE,
    I.ITEM_NAME,
    CAT.Category_Desc                  AS CATEGORY,
    BRD.Brand_Name                     AS BRAND,
    ISNULL(D.REC_QTY, 0)             AS RECEIVED_QTY,
    ISNULL(D.FREE_QTY, 0)            AS FREE_QTY,
    ISNULL(D.BASIC_COST, 0)          AS BASIC_COST,
    ISNULL(D.CP, 0)                  AS COST_PRICE,
    ISNULL(D.SP, 0)                  AS SALE_PRICE,
    ISNULL(D.MRP, 0)                 AS MRP,
    ISNULL(D.AMOUNT, 0)             AS AMOUNT,
    ISNULL(D.ITEM_DISC_AMOUNT, 0)   AS ITEM_DISC,
    ISNULL(D.BILL_DISC_AMOUNT, 0)   AS BILL_DISC,
    ISNULL(D.TAX_AMOUNT, 0)         AS TAX_AMOUNT,
    D.HSNSACCODE                      AS HSN_CODE,
    D.EANCODE                         AS EAN_CODE
FROM dbo.GRN_HDR H
INNER JOIN dbo.GRN_DTL D    ON H.GRN_NO=D.GRN_NO AND H.GH_DEPT_CODE=D.GD_DEPT_CODE
LEFT  JOIN dbo.SUPPLIER_MST S   ON H.SUPPLIERCODE=S.SUPPLIER_CODE
LEFT  JOIN dbo.ITEM_MST I       ON D.ITEM_CODE=I.ITEM_CODE
LEFT  JOIN dbo.Category_Mst CAT ON I.CATEGORY_CODE=CAT.Category_Code
LEFT  JOIN dbo.Brand_Master BRD ON I.BRAND_CODE=BRD.Brand_Code
WHERE ISNULL(H.ISCANCELLED,0)=0

GO
/****** Object:  View [dbo].[VW_RPT_PURCHASE_RETURN]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_RPT_PURCHASE_RETURN] AS
SELECT
    H.PH_DEPT_CODE                      AS DEPT_CODE,
    H.PRN_NO,
    CONVERT(DATE, H.PRN_DATE)          AS PRN_DATE,
    H.SUPPLIERCODE,
    S.SUPPLIER_NAME,
    D.ITEM_CODE,
    I.ITEM_NAME,
    CAT.Category_Desc                  AS CATEGORY,
    ISNULL(D.RTN_QTY, 0)             AS RETURN_QTY,
    ISNULL(D.CP, 0)                  AS COST_PRICE,
    ISNULL(D.MRP, 0)                 AS MRP,
    ISNULL(D.AMOUNT, 0)             AS AMOUNT,
    ISNULL(D.TAX_AMOUNT, 0)         AS TAX_AMOUNT,
    ISNULL(H.GRANDTOTAL, 0)        AS GRAND_TOTAL,
    H.REMARKS,
    D.GRN_NO                          AS AGAINST_GRN
FROM dbo.PRN_HDR H
INNER JOIN dbo.PRN_DTL D     ON H.PRN_NO=D.PRN_NO AND H.PH_DEPT_CODE=D.PD_DEPT_CODE
LEFT  JOIN dbo.SUPPLIER_MST S   ON H.SUPPLIERCODE=S.SUPPLIER_CODE
LEFT  JOIN dbo.ITEM_MST I       ON D.ITEM_CODE=I.ITEM_CODE
LEFT  JOIN dbo.Category_Mst CAT ON I.CATEGORY_CODE=CAT.Category_Code

GO
/****** Object:  View [dbo].[VW_RPT_PURCHASE_SUMMARY]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_RPT_PURCHASE_SUMMARY] AS
SELECT
    H.GH_DEPT_CODE                      AS DEPT_CODE,
    H.GRN_NO,
    CONVERT(DATE, H.GRN_DATE)          AS GRN_DATE,
    DATEPART(YEAR,  H.GRN_DATE)        AS GRN_YEAR,
    DATEPART(MONTH, H.GRN_DATE)        AS GRN_MONTH,
    H.INVOICENO                         AS SUPPLIER_INVOICE_NO,
    CONVERT(DATE, H.INVOICE_DATE)      AS INVOICE_DATE,
    H.SUPPLIERCODE,
    S.SUPPLIER_NAME,
    S.OFFICE1_PHONE                    AS SUPPLIER_PHONE,
    ISNULL(H.SUBTOTAL, 0)             AS SUBTOTAL,
    ISNULL(H.TOTALLINEDISCAMOUNT, 0) AS TOTAL_DISCOUNT,
    ISNULL(H.TOTALTAXAMOUNT, 0)      AS TOTAL_TAX,
    ISNULL(H.GRANDTOTAL, 0)         AS GRAND_TOTAL,
    ISNULL(H.TOTALQTY, 0)           AS TOTAL_QTY,
    ISNULL(H.FRIEGHT, 0)            AS FREIGHT,
    ISNULL(H.OTHERCHARGES, 0)       AS OTHER_CHARGES,
    ISNULL(H.ISCANCELLED, 0)        AS IS_CANCELLED,
    H.REMARKS,
    H.AUTH_STATUS,
    H.PO_NO
FROM dbo.GRN_HDR H
LEFT JOIN dbo.SUPPLIER_MST S ON H.SUPPLIERCODE=S.SUPPLIER_CODE
WHERE ISNULL(H.ISCANCELLED,0)=0

GO
/****** Object:  View [dbo].[vw_RPT_PurchaseReturnDetail]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_RPT_PurchaseReturnDetail] AS
SELECT
    p.PRN_NO,
    CAST(p.PRN_DATE AS DATE)            AS PRN_Date,
    p.PH_DEPT_CODE                      AS Dept_Code,
    p.SUPPLIERCODE,
    s.SUPPLIER_NAME,
    pd.ITEM_CODE,
    im.ITEM_NAME,
    im.EAN_CODE,
    pd.GRN_NO                           AS Against_GRN,
    pd.RTN_QTY,
    pd.CP                               AS Cost_Price,
    pd.SP                               AS Sale_Price,
    pd.MRP,
    pd.TAX_AMOUNT,
    pd.AMOUNT
FROM PRN_HDR p
INNER JOIN PRN_DTL pd     ON p.PRN_NO         = pd.PRN_NO
LEFT JOIN  SUPPLIER_MST s ON p.SUPPLIERCODE   = s.SUPPLIER_CODE
LEFT JOIN  ITEM_MST im    ON pd.ITEM_CODE      = im.ITEM_CODE;

GO
/****** Object:  View [dbo].[VW_RPT_SALES_DETAIL]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_RPT_SALES_DETAIL] AS
SELECT
    H.SH_DEPT_CODE                      AS DEPT_CODE,
    H.BILL_NO,
    CONVERT(DATE, H.BILL_DATE)          AS BILL_DATE,
    DATEPART(YEAR,  H.BILL_DATE)        AS BILL_YEAR,
    DATEPART(MONTH, H.BILL_DATE)        AS BILL_MONTH,
    H.CUSTOMER_CODE,
    H.CUSTOMER                          AS CUSTOMER_NAME,
    D.SERVICEORPRODUCTCODE              AS ITEM_CODE,
    I.ITEM_NAME,
    CAT.Category_Desc                   AS CATEGORY,
    BRD.Brand_Name                      AS BRAND,
    ISNULL(D.QTY, 0)                    AS QTY,
    ISNULL(D.RATE, 0)                   AS RATE,
    ISNULL(D.ITM_MRP, 0)               AS MRP,
    ISNULL(D.ORG_CP, 0)                AS COST_PRICE,
    ISNULL(D.AMOUNT, 0)                AS AMOUNT,
    ISNULL(D.DISC_AMOUNT, 0)           AS DISC_AMOUNT,
    ISNULL(D.Line_Disc_Amount, 0)      AS LINE_DISC,
    ISNULL(D.TOTAL, 0)                 AS TOTAL,
    ISNULL(D.AMOUNT,0) - ISNULL(D.ORG_CP,0)*ISNULL(D.QTY,0)  AS GROSS_PROFIT,
    CASE WHEN ISNULL(D.AMOUNT,0)>0
         THEN ((ISNULL(D.AMOUNT,0)-ISNULL(D.ORG_CP,0)*ISNULL(D.QTY,0))/ISNULL(D.AMOUNT,0))*100
         ELSE 0 END                     AS MARGIN_PCT,
    D.HSNSACCODE                        AS HSN_CODE,
    ISNULL(D.TAX_PERCENT, 0)           AS TAX_PERCENT,
    ISNULL(D.TAX_AMOUNT, 0)            AS TAX_AMOUNT
FROM dbo.SALES_HDR H
INNER JOIN dbo.SALES_DTL D   ON H.BILL_NO=D.BILL_NO AND H.SH_DEPT_CODE=D.SD_DEPT_CODE
LEFT  JOIN dbo.ITEM_MST I    ON D.SERVICEORPRODUCTCODE=I.ITEM_CODE
LEFT  JOIN dbo.Category_Mst CAT ON I.CATEGORY_CODE=CAT.Category_Code
LEFT  JOIN dbo.Brand_Master BRD ON I.BRAND_CODE=BRD.Brand_Code
WHERE ISNULL(H.ISCANCELLED,0)=0 AND D.SALES_ITEM_TYPE='P'

GO
/****** Object:  View [dbo].[VW_RPT_SALES_RETURN]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_RPT_SALES_RETURN] AS
SELECT
    RH.SRH_DEPT_CODE                    AS DEPT_CODE,
    RH.BILL_RTN_NO,
    CONVERT(DATE, RH.BILL_RTN_DATE)     AS RETURN_DATE,
    DATEPART(YEAR,  RH.BILL_RTN_DATE)   AS RTN_YEAR,
    DATEPART(MONTH, RH.BILL_RTN_DATE)   AS RTN_MONTH,
    RH.AGAINST_BILL_NO,
    RD.SERVICEORPRODUCTCODE             AS ITEM_CODE,
    I.ITEM_NAME,
    CAT.Category_Desc                   AS CATEGORY,
    ISNULL(RD.QTY, 0)                  AS RTN_QTY,
    ISNULL(RD.RATE, 0)                 AS RATE,
    ISNULL(RD.AMOUNT, 0)              AS AMOUNT,
    ISNULL(RH.GRAND_TOTAL, 0)         AS GRAND_TOTAL,
    RH.REASON_FOR_REFUND,
    PM.PayMode                          AS REFUND_MODE,
    ISNULL(RP.PAY_AMOUNT, 0)          AS REFUND_AMOUNT
FROM dbo.SALES_RETURN_HDR RH
INNER JOIN dbo.SALES_RETURN_DTL RD  ON RH.BILL_RTN_NO=RD.BILL_RTN_NO AND RH.SRH_DEPT_CODE=RD.SRD_DEPT_CODE
LEFT  JOIN dbo.ITEM_MST I           ON RD.SERVICEORPRODUCTCODE=I.ITEM_CODE
LEFT  JOIN dbo.Category_Mst CAT    ON I.CATEGORY_CODE=CAT.Category_Code
LEFT  JOIN dbo.SALES_RTN_PAYMENT_DTL RP ON RH.BILL_RTN_NO=RP.BILL_RTN_NO AND RH.SRH_DEPT_CODE=RP.SRPD_DEPT_CODE
LEFT  JOIN dbo.Payment_Mode PM      ON RP.PAY_CODE=PM.PayCode

GO
/****** Object:  View [dbo].[VW_RPT_SALES_SUMMARY]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_RPT_SALES_SUMMARY] AS
SELECT
    H.SH_DEPT_CODE                      AS DEPT_CODE,
    H.BILL_NO,
    CONVERT(DATE, H.BILL_DATE)          AS BILL_DATE,
    DATEPART(YEAR,  H.BILL_DATE)        AS BILL_YEAR,
    DATEPART(MONTH, H.BILL_DATE)        AS BILL_MONTH,
    DATENAME(WEEKDAY, H.BILL_DATE)      AS DAY_NAME,
    H.CUSTOMER_CODE,
    H.CUSTOMER                          AS CUSTOMER_NAME,
    ISNULL(H.SUBTOTAL_AMOUNT, 0)        AS SUBTOTAL,
    ISNULL(H.DISC_AMOUNT, 0)            AS DISCOUNT,
    ISNULL(H.GRAND_TOTAL, 0)            AS GRAND_TOTAL,
    ISNULL(H.TENDERED_AMOUNT, 0)        AS TENDERED,
    ISNULL(H.RedeemAmt, 0)             AS REDEEM_AMOUNT,
    ISNULL(H.RoundOffBillAmount, 0)     AS ROUND_OFF,
    ISNULL(H.ISCANCELLED, 0)            AS IS_CANCELLED,
    H.ENT_USERID                        AS CASHIER_ID,
    H.POSID                             AS POS_ID,
    H.Shift_ID,
    H.TRANSACTION_TYPE
FROM dbo.SALES_HDR H
WHERE ISNULL(H.ISCANCELLED, 0) = 0

GO
/****** Object:  View [dbo].[VW_RPT_SALES_VS_PURCHASE]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_RPT_SALES_VS_PURCHASE] AS
SELECT
    DATEPART(YEAR,  S.BILL_DATE)      AS YEAR,
    DATEPART(MONTH, S.BILL_DATE)      AS MONTH,
    DATENAME(MONTH, S.BILL_DATE)      AS MONTH_NAME,
    S.SH_DEPT_CODE                     AS DEPT_CODE,
    SUM(ISNULL(S.GRAND_TOTAL,0))      AS TOTAL_SALES,
    SUM(ISNULL(S.DISC_AMOUNT,0))     AS SALES_DISCOUNT,
    COUNT(DISTINCT S.BILL_NO)          AS SALES_BILLS
FROM dbo.SALES_HDR S
WHERE ISNULL(S.ISCANCELLED,0)=0
GROUP BY DATEPART(YEAR,S.BILL_DATE),DATEPART(MONTH,S.BILL_DATE),
         DATENAME(MONTH,S.BILL_DATE),S.SH_DEPT_CODE

GO
/****** Object:  View [dbo].[vw_RPT_SalesmanWiseSales]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_RPT_SalesmanWiseSales] AS
SELECT
    CAST(h.BILL_DATE AS DATE)           AS Bill_Date,
    d.EMP_CODE,
    em.EMP_NAME                         AS Salesman_Name,
    h.SH_DEPT_CODE                      AS Dept_Code,
    COUNT(DISTINCT h.BILL_NO)           AS Bill_Count,
    SUM(d.QTY)                          AS Total_Qty,
    SUM(d.AMOUNT)                       AS Gross_Sales,
    SUM(d.DISC_AMOUNT)                  AS Total_Discount,
    SUM(d.TOTAL)                        AS Net_Sales
FROM SALES_DTL d
INNER JOIN SALES_HDR h   ON d.BILL_NO   = h.BILL_NO
LEFT JOIN  EMPLOYEE_MST em ON d.EMP_CODE = em.EMP_CODE
WHERE h.ISCANCELLED = 0
GROUP BY CAST(h.BILL_DATE AS DATE), d.EMP_CODE, em.EMP_NAME, h.SH_DEPT_CODE;

GO
/****** Object:  View [dbo].[vw_RPT_SalesReturnSummary]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_RPT_SalesReturnSummary] AS
SELECT
    CAST(r.BILL_RTN_DATE AS DATE)       AS Return_Date,
    r.SRH_DEPT_CODE                     AS Dept_Code,
    r.BILL_RTN_NO,
    r.AGAINST_BILL_NO,
    h.BILL_DATE                         AS Original_Bill_Date,
    r.GRAND_TOTAL                       AS Return_Amount,
    r.DISC_AMOUNT,
    r.REASON_FOR_REFUND,
    pm.PayMode                          AS Refund_Mode,
    rp.PAY_AMOUNT                       AS Refund_Amount
FROM SALES_RETURN_HDR r
LEFT JOIN SALES_HDR h              ON r.AGAINST_BILL_NO = h.BILL_NO
LEFT JOIN SALES_RTN_PAYMENT_DTL rp ON r.BILL_RTN_NO    = rp.BILL_RTN_NO
LEFT JOIN Payment_Mode pm          ON rp.PAY_CODE       = pm.PayCode;

GO
/****** Object:  View [dbo].[VW_RPT_STOCK_STATUS]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_RPT_STOCK_STATUS] AS
SELECT
    I.ITEM_CODE,
    I.ITEM_NAME,
    I.EAN_CODE,
    CAT.Category_Desc                  AS CATEGORY,
    BRD.Brand_Name                     AS BRAND,
    S.SUPPLIER_NAME,
    ISNULL(I.QOH, 0)                  AS QTY_ON_HAND,
    ISNULL(I.REORDER_LVL, 0)         AS REORDER_LEVEL,
    ISNULL(I.MIN_STOCK_LVL, 0)      AS MIN_STOCK,
    ISNULL(I.MAX_STOCK_LVL, 0)      AS MAX_STOCK,
    ISNULL(I.CP, 0)                   AS COST_PRICE,
    ISNULL(I.MRP, 0)                  AS MRP,
    ISNULL(I.SP, 0)                   AS SALE_PRICE,
    ISNULL(I.WSP, 0)                  AS WHOLESALE_PRICE,
    ISNULL(I.QOH,0)*ISNULL(I.CP,0)   AS STOCK_VALUE_CP,
    ISNULL(I.QOH,0)*ISNULL(I.MRP,0)  AS STOCK_VALUE_MRP,
    I.HSN_CODE,
    I.PUR_UOM                          AS PURCHASE_UOM,
    I.CONS_UOM                         AS SALE_UOM,
    ISNULL(I.Discontinue,0)           AS IS_DISCONTINUED,
    CASE
        WHEN ISNULL(I.QOH,0)<=0 THEN 'OUT OF STOCK'
        WHEN ISNULL(I.QOH,0)<=ISNULL(I.REORDER_LVL,0) THEN 'REORDER REQUIRED'
        WHEN ISNULL(I.QOH,0)<=ISNULL(I.MIN_STOCK_LVL,0) THEN 'LOW STOCK'
        ELSE 'NORMAL'
    END AS STOCK_STATUS,
    I.EXP_DATE                         AS EXPIRY_DATE,
    CASE
        WHEN I.EXP_DATE IS NOT NULL AND I.EXP_DATE<GETDATE() THEN 'EXPIRED'
        WHEN I.EXP_DATE IS NOT NULL AND I.EXP_DATE<DATEADD(DAY,30,GETDATE()) THEN 'EXPIRING SOON'
        ELSE 'OK'
    END AS EXPIRY_STATUS
FROM dbo.ITEM_MST I
LEFT JOIN dbo.Category_Mst CAT  ON I.CATEGORY_CODE=CAT.Category_Code
LEFT JOIN dbo.Brand_Master BRD  ON I.BRAND_CODE=BRD.Brand_Code
LEFT JOIN dbo.SUPPLIER_MST S    ON I.SUPPLIER_CODE=S.SUPPLIER_CODE
WHERE ISNULL(I.Discontinue,0)=0

GO
/****** Object:  View [dbo].[VW_RPT_STOCK_TRANSFER]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_RPT_STOCK_TRANSFER] AS
SELECT
    H.MH_DEPT_CODE                      AS DEPT_CODE,
    H.MTN_NO,
    CONVERT(DATE, H.MTN_DATE)          AS TRANSFER_DATE,
    H.MTN_TYPE,
    CASE H.MTN_TYPE WHEN 'O' THEN 'Transfer Out'
                    WHEN 'I' THEN 'Transfer In'
                    ELSE H.MTN_TYPE END AS TRANSFER_TYPE,
    H.FROM_LOCATION,
    H.TO_LOCATION,
    D.ITEM_CODE,
    I.ITEM_NAME,
    CAT.Category_Desc                  AS CATEGORY,
    BRD.Brand_Name                     AS BRAND,
    ISNULL(D.QTY, 0)                  AS QTY,
    ISNULL(D.CP, 0)                   AS COST_PRICE,
    ISNULL(D.SP, 0)                   AS SALE_PRICE,
    ISNULL(D.MRP, 0)                  AS MRP,
    ISNULL(D.AMOUNT, 0)              AS AMOUNT,
    H.VEHICLE_NO,
    H.REMARKS,
    H.AUTH_STATUS
FROM dbo.MTN_HDR H
INNER JOIN dbo.MTN_DTL D     ON H.MTN_NO=D.MTN_NO AND H.MH_DEPT_CODE=D.MD_DEPT_CODE
LEFT  JOIN dbo.ITEM_MST I       ON D.ITEM_CODE=I.ITEM_CODE
LEFT  JOIN dbo.Category_Mst CAT ON I.CATEGORY_CODE=CAT.Category_Code
LEFT  JOIN dbo.Brand_Master BRD ON I.BRAND_CODE=BRD.Brand_Code

GO
/****** Object:  View [dbo].[VW_RPT_STOCK_VALUATION]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_RPT_STOCK_VALUATION] AS
SELECT
    I.ITEM_CODE,
    I.ITEM_NAME,
    I.EAN_CODE,
    CAT.Category_Desc                  AS CATEGORY,
    BRD.Brand_Name                     AS BRAND,
    S.SUPPLIER_NAME,
    ISNULL(I.QOH,0)                   AS QTY_ON_HAND,
    ISNULL(I.CP,0)                    AS COST_PRICE,
    ISNULL(I.MRP,0)                   AS MRP,
    ISNULL(I.SP,0)                    AS SALE_PRICE,
    ISNULL(I.QOH,0)*ISNULL(I.CP,0)   AS VALUE_AT_COST,
    ISNULL(I.QOH,0)*ISNULL(I.MRP,0)  AS VALUE_AT_MRP,
    ISNULL(I.QOH,0)*ISNULL(I.SP,0)   AS VALUE_AT_SP,
    (ISNULL(I.QOH,0)*ISNULL(I.SP,0)) -
    (ISNULL(I.QOH,0)*ISNULL(I.CP,0)) AS POTENTIAL_PROFIT,
    I.HSN_CODE,
    I.EXP_DATE                         AS EXPIRY_DATE,
    CASE WHEN I.EXP_DATE IS NOT NULL AND I.EXP_DATE<GETDATE() THEN 'EXPIRED'
         WHEN I.EXP_DATE IS NOT NULL AND I.EXP_DATE<DATEADD(DAY,30,GETDATE()) THEN 'EXPIRING SOON'
         ELSE 'OK' END AS EXPIRY_STATUS
FROM dbo.ITEM_MST I
LEFT JOIN dbo.Category_Mst CAT  ON I.CATEGORY_CODE=CAT.Category_Code
LEFT JOIN dbo.Brand_Master BRD  ON I.BRAND_CODE=BRD.Brand_Code
LEFT JOIN dbo.SUPPLIER_MST S    ON I.SUPPLIER_CODE=S.SUPPLIER_CODE
WHERE ISNULL(I.Discontinue,0)=0 AND ISNULL(I.QOH,0)>0

GO
/****** Object:  View [dbo].[VW_RPT_SUPPLIER_PERFORMANCE]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_RPT_SUPPLIER_PERFORMANCE] AS
SELECT
    S.SUPPLIER_CODE,
    S.SUPPLIER_NAME,
    S.OFFICE1_PHONE                    AS PHONE,
    S.OFFICE1_EMAIL_ID                 AS EMAIL,
    DATEPART(YEAR,  H.GRN_DATE)       AS YEAR,
    DATEPART(MONTH, H.GRN_DATE)       AS MONTH,
    DATENAME(MONTH, H.GRN_DATE)       AS MONTH_NAME,
    COUNT(DISTINCT H.GRN_NO)          AS TOTAL_GRNS,
    SUM(ISNULL(H.TOTALQTY,0))        AS TOTAL_QTY,
    SUM(ISNULL(H.GRANDTOTAL,0))      AS TOTAL_PURCHASE_VALUE,
    SUM(ISNULL(H.TOTALLINEDISCAMOUNT,0)) AS TOTAL_DISCOUNT,
    COUNT(DISTINCT PR.PRN_NO)         AS TOTAL_RETURNS,
    ISNULL(SUM(PR.GRANDTOTAL),0)     AS TOTAL_RETURN_VALUE
FROM dbo.SUPPLIER_MST S
LEFT JOIN dbo.GRN_HDR H  ON S.SUPPLIER_CODE=H.SUPPLIERCODE AND ISNULL(H.ISCANCELLED,0)=0
LEFT JOIN dbo.PRN_HDR PR ON S.SUPPLIER_CODE=PR.SUPPLIERCODE
GROUP BY S.SUPPLIER_CODE,S.SUPPLIER_NAME,S.OFFICE1_PHONE,S.OFFICE1_EMAIL_ID,
         DATEPART(YEAR,H.GRN_DATE),DATEPART(MONTH,H.GRN_DATE),DATENAME(MONTH,H.GRN_DATE)

GO
/****** Object:  View [dbo].[vw_RPT_SupplierWisePurchase]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_RPT_SupplierWisePurchase] AS
SELECT
    g.SUPPLIERCODE,
    s.SUPPLIER_NAME,
    s.MobileNo,
    s.GSTIN_NO,
    COUNT(DISTINCT g.GRN_NO)            AS Total_GRNs,
    SUM(d.REC_QTY)                      AS Total_Qty,
    SUM(d.AMOUNT)                       AS Total_Purchase_Value,
    SUM(d.TAX_AMOUNT)                   AS Total_Tax,
    SUM(g.GRANDTOTAL)                   AS Net_Purchase_Value,
    MAX(CAST(g.GRN_DATE AS DATE))       AS Last_Purchase_Date
FROM GRN_HDR g
INNER JOIN GRN_DTL d      ON g.GRN_NO      = d.GRN_NO
LEFT JOIN  SUPPLIER_MST s ON g.SUPPLIERCODE = s.SUPPLIER_CODE
WHERE g.ISCANCELLED = 0
GROUP BY g.SUPPLIERCODE, s.SUPPLIER_NAME, s.MobileNo, s.GSTIN_NO;

GO
/****** Object:  View [dbo].[VW_RPT_TOP_ITEMS]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_RPT_TOP_ITEMS] AS
SELECT
    D.SD_DEPT_CODE                      AS DEPT_CODE,
    D.SERVICEORPRODUCTCODE              AS ITEM_CODE,
    I.ITEM_NAME,
    CAT.Category_Desc                  AS CATEGORY,
    BRD.Brand_Name                     AS BRAND,
    COUNT(DISTINCT D.BILL_NO)          AS BILL_COUNT,
    SUM(ISNULL(D.QTY,0))              AS TOTAL_QTY_SOLD,
    SUM(ISNULL(D.AMOUNT,0))           AS TOTAL_SALES,
    SUM(ISNULL(D.DISC_AMOUNT,0))      AS TOTAL_DISCOUNT,
    AVG(ISNULL(D.RATE,0))             AS AVG_RATE,
    SUM(ISNULL(D.AMOUNT,0)-ISNULL(D.ORG_CP,0)*ISNULL(D.QTY,0)) AS GROSS_PROFIT
FROM dbo.SALES_DTL D
INNER JOIN dbo.SALES_HDR H      ON D.BILL_NO=H.BILL_NO AND D.SD_DEPT_CODE=H.SH_DEPT_CODE
LEFT  JOIN dbo.ITEM_MST I       ON D.SERVICEORPRODUCTCODE=I.ITEM_CODE
LEFT  JOIN dbo.Category_Mst CAT ON I.CATEGORY_CODE=CAT.Category_Code
LEFT  JOIN dbo.Brand_Master BRD ON I.BRAND_CODE=BRD.Brand_Code
WHERE ISNULL(H.ISCANCELLED,0)=0 AND D.SALES_ITEM_TYPE='P'
GROUP BY D.SD_DEPT_CODE,D.SERVICEORPRODUCTCODE,I.ITEM_NAME,CAT.Category_Desc,BRD.Brand_Name

GO
/****** Object:  View [dbo].[vw_RPT_TopCustomers]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_RPT_TopCustomers] AS
SELECT
    h.CUSTOMER_CODE,
    cm.CUSTOMER_NAME,
    cm.MobileNo,
    cm.CARD_TYPE,
    cm.VIP_CUSTOMER,
    cm.BALANCE_POINTS,
    COUNT(DISTINCT h.BILL_NO)           AS Total_Visits,
    SUM(h.GRAND_TOTAL)                  AS Total_Spent,
    AVG(h.GRAND_TOTAL)                  AS Avg_Bill,
    MAX(CAST(h.BILL_DATE AS DATE))      AS Last_Visit,
    MIN(CAST(h.BILL_DATE AS DATE))      AS First_Visit
FROM SALES_HDR h
INNER JOIN CUSTOMER_MST cm ON h.CUSTOMER_CODE = cm.CUSTOMER_CODE
WHERE h.ISCANCELLED = 0
  AND h.CUSTOMER_CODE IS NOT NULL
GROUP BY h.CUSTOMER_CODE, cm.CUSTOMER_NAME, cm.MobileNo, cm.CARD_TYPE, cm.VIP_CUSTOMER, cm.BALANCE_POINTS;

GO
/****** Object:  View [dbo].[vw_RRT_Item_Ledger]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_RRT_Item_Ledger] AS
-- Sales
SELECT
    sd.SERVICEORPRODUCTCODE AS ITEM_CODE,
    im.ITEM_NAME,
    sh.BILL_DATE            AS TXN_DATE,
    'SALE'                  AS TXN_TYPE,
    sh.BILL_NO              AS REF_NO,
    sd.QTY                  AS OUT_QTY,
    0                       AS IN_QTY,
    sd.RATE                 AS RATE,
    sd.AMOUNT               AS AMOUNT
FROM SALES_DTL sd
JOIN SALES_HDR sh ON sd.BILL_NO = sh.BILL_NO
LEFT JOIN ITEM_MST im ON sd.SERVICEORPRODUCTCODE = im.ITEM_CODE
WHERE sh.ISCANCELLED = 0

UNION ALL

-- Sales Returns (come back IN)
SELECT
    rd.SERVICEORPRODUCTCODE,
    im.ITEM_NAME,
    rh.BILL_RTN_DATE,
    'SALE RETURN',
    rh.BILL_RTN_NO,
    0,
    rd.QTY,
    rd.RATE,
    rd.AMOUNT
FROM SALES_RETURN_DTL rd
JOIN SALES_RETURN_HDR rh ON rd.BILL_RTN_NO = rh.BILL_RTN_NO
LEFT JOIN ITEM_MST im ON rd.SERVICEORPRODUCTCODE = im.ITEM_CODE

UNION ALL

-- GRN (Purchase IN)
SELECT
    gd.ITEM_CODE,
    im.ITEM_NAME,
    gh.GRN_DATE,
    'PURCHASE',
    gh.GRN_NO,
    0,
    gd.REC_QTY,
    gd.CP,
    gd.AMOUNT
FROM GRN_DTL gd
JOIN GRN_HDR gh ON gd.GRN_NO = gh.GRN_NO
LEFT JOIN ITEM_MST im ON gd.ITEM_CODE = im.ITEM_CODE
WHERE gh.ISCANCELLED = 0

UNION ALL

-- Purchase Returns (go OUT)
SELECT
    pd.ITEM_CODE,
    im.ITEM_NAME,
    ph.PRN_DATE,
    'PURCHASE RETURN',
    ph.PRN_NO,
    pd.RTN_QTY,
    0,
    pd.CP,
    pd.AMOUNT
FROM PRN_DTL pd
JOIN PRN_HDR ph ON pd.PRN_NO = ph.PRN_NO
LEFT JOIN ITEM_MST im ON pd.ITEM_CODE = im.ITEM_CODE

GO
/****** Object:  View [dbo].[vw_RRT_Purchase_Net]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_RRT_Purchase_Net] AS
SELECT
    gd.ITEM_CODE,
    im.ITEM_NAME,
    ISNULL(cm.Category_Desc,'')     AS CATEGORY,
    ISNULL(gm.GroupName,'')         AS GRP,
    ISNULL(bm.Brand_Name,'')        AS BRAND,
    sm.SUPPLIER_NAME,
    gh.GRN_DATE,
    YEAR(gh.GRN_DATE)               AS PUR_YEAR,
    MONTH(gh.GRN_DATE)              AS PUR_MONTH,
    DATENAME(MONTH,gh.GRN_DATE)     AS MONTH_NAME,

    SUM(gd.REC_QTY)                 AS GROSS_QTY,
    SUM(gd.AMOUNT)                  AS GROSS_AMOUNT,
    SUM(ISNULL(gd.TAX_AMOUNT,0))    AS TAX_AMOUNT,
    SUM(ISNULL(gd.ITEM_DISC_AMOUNT,0) + ISNULL(gd.BILL_DISC_AMOUNT,0)) AS DISC_AMOUNT,

    ISNULL((
        SELECT SUM(pd.RTN_QTY)
        FROM PRN_DTL pd
        JOIN PRN_HDR ph ON pd.PRN_NO = ph.PRN_NO
        WHERE pd.ITEM_CODE = gd.ITEM_CODE
          AND CAST(ph.PRN_DATE AS DATE) = CAST(gh.GRN_DATE AS DATE)
    ),0)                            AS RETURN_QTY,

    ISNULL((
        SELECT SUM(pd.AMOUNT)
        FROM PRN_DTL pd
        JOIN PRN_HDR ph ON pd.PRN_NO = ph.PRN_NO
        WHERE pd.ITEM_CODE = gd.ITEM_CODE
          AND CAST(ph.PRN_DATE AS DATE) = CAST(gh.GRN_DATE AS DATE)
    ),0)                            AS RETURN_AMOUNT

FROM GRN_DTL gd
JOIN GRN_HDR gh ON gd.GRN_NO = gh.GRN_NO
LEFT JOIN ITEM_MST im ON gd.ITEM_CODE = im.ITEM_CODE
LEFT JOIN Category_Mst cm ON im.CATEGORY_CODE = cm.Category_Code
LEFT JOIN Group_Master gm ON cm.GroupCode = gm.GroupCode
LEFT JOIN Brand_Master bm ON im.BRAND_CODE = bm.Brand_Code
LEFT JOIN SUPPLIER_MST sm ON gh.SUPPLIERCODE = sm.SUPPLIER_CODE
WHERE gh.ISCANCELLED = 0
GROUP BY
    gd.ITEM_CODE, im.ITEM_NAME, cm.Category_Desc, gm.GroupName,
    bm.Brand_Name, sm.SUPPLIER_NAME, gh.GRN_DATE,
    YEAR(gh.GRN_DATE), MONTH(gh.GRN_DATE), DATENAME(MONTH,gh.GRN_DATE)

GO
/****** Object:  View [dbo].[vw_RRT_Sales_Net]    Script Date: 14/04/2026 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_RRT_Sales_Net] AS
SELECT
    sd.SERVICEORPRODUCTCODE         AS ITEM_CODE,
    im.ITEM_NAME,
    ISNULL(cm.Category_Desc,'')     AS CATEGORY,
    ISNULL(gm.GroupName,'')         AS GRP,
    ISNULL(bm.Brand_Name,'')        AS BRAND,
    ISNULL(sm.SUPPLIER_NAME,'')     AS SUPPLIER,
    sh.BILL_DATE,
    YEAR(sh.BILL_DATE)              AS SALE_YEAR,
    MONTH(sh.BILL_DATE)             AS SALE_MONTH,
    DATENAME(MONTH,sh.BILL_DATE)    AS MONTH_NAME,

    -- Gross Sales
    SUM(sd.QTY)                     AS GROSS_QTY,
    SUM(sd.AMOUNT + ISNULL(sd.TAX_AMOUNT,0)) AS GROSS_AMOUNT,
    SUM(ISNULL(sd.DISC_AMOUNT,0))   AS DISC_AMOUNT,
    SUM(ISNULL(sd.TAX_AMOUNT,0))    AS TAX_AMOUNT,
    SUM(ISNULL(sd.ORG_CP,0) * sd.QTY) AS COST_AMOUNT,

    -- Returns (aggregated as positive numbers)
    ISNULL((
        SELECT SUM(rd.QTY)
        FROM SALES_RETURN_DTL rd
        JOIN SALES_RETURN_HDR rh ON rd.BILL_RTN_NO = rh.BILL_RTN_NO
        WHERE rd.SERVICEORPRODUCTCODE = sd.SERVICEORPRODUCTCODE
          AND CAST(rh.BILL_RTN_DATE AS DATE) = CAST(sh.BILL_DATE AS DATE)
    ),0)                            AS RETURN_QTY,

    ISNULL((
        SELECT SUM(rd.AMOUNT + ISNULL(rd.TAX_AMOUNT,0))
        FROM SALES_RETURN_DTL rd
        JOIN SALES_RETURN_HDR rh ON rd.BILL_RTN_NO = rh.BILL_RTN_NO
        WHERE rd.SERVICEORPRODUCTCODE = sd.SERVICEORPRODUCTCODE
          AND CAST(rh.BILL_RTN_DATE AS DATE) = CAST(sh.BILL_DATE AS DATE)
    ),0)                            AS RETURN_AMOUNT

FROM SALES_DTL sd
JOIN SALES_HDR sh ON sd.BILL_NO = sh.BILL_NO
LEFT JOIN ITEM_MST im ON sd.SERVICEORPRODUCTCODE = im.ITEM_CODE
LEFT JOIN Category_Mst cm ON im.CATEGORY_CODE = cm.Category_Code
LEFT JOIN Group_Master gm ON cm.GroupCode = gm.GroupCode
LEFT JOIN Brand_Master bm ON im.BRAND_CODE = bm.Brand_Code
LEFT JOIN SUPPLIER_MST sm ON im.SUPPLIER_CODE = sm.SUPPLIER_CODE
WHERE sh.ISCANCELLED = 0
GROUP BY
    sd.SERVICEORPRODUCTCODE, im.ITEM_NAME, cm.Category_Desc,
    gm.GroupName, bm.Brand_Name, sm.SUPPLIER_NAME,
    sh.BILL_DATE, YEAR(sh.BILL_DATE), MONTH(sh.BILL_DATE), DATENAME(MONTH,sh.BILL_DATE)

GO
